<div class="bookmark_edit_panel">
    <a href="#" class="to-top" title="move to top">
        {{'to-top'| svg_icon('icon')|safe}}
    </a>
    <a href="#" class="up-one" title="move up one">
        {{'up-one'| svg_icon('icon')|safe}}
    </a>
    <a href="#" class="down-one" title="move down one">
        {{'down-one'| svg_icon('icon')|safe}}
    </a>
    <a href="#" class="to-bottom" title="move to bottom">
        {{'to-bottom'| svg_icon('icon')|safe}}
    </a>
    <button class="del">x</button>
</div>