{%- extends "base.html" -%}
{%- block css -%}
{%- include 'css.html' -%}
{%- endblock css -%}

{%- block header -%}
<h1 class="main-title">
    <span>{{'home'| svg_icon('main_title_icon fill')|safe}} Recent activity in your network</span>
</h1>
{%- endblock header -%}

{%- block content -%}

<div id="feed">
{%- include 'feed/feed.items.html' -%}
</div>
{%- endblock content -%}

{%- block right_content -%}
{%- include 'notes/note.form.html' -%}
{%- include 'topics/topic.list.html' -%}
{%- endblock right_content -%}