<div class="feed-block">
<div class="ts" data-ts="{{last if last is not none else '0'}}"></div>
{%- for thread in threads: -%}

    {%- if thread['responder_count'] > 0 -%}
        {%- set root_class = 'note-container root ancestor' -%}
    {%- else -%}
        {%- set root_class = 'note-container root' -%}
    {%- endif -%}

    {%- if thread['self'] is not none -%}
        {%- set post = thread['self'] -%}

        {%- if post['deleted'] is none or post is string -%}

        {%- if (thread['responder_count'] > 0 or thread['booster_count'] > 0) -%}
        <div class="response-accounts">
            {%- if thread['booster_count'] > 0 -%}
                {{ thread['boosters'] | boosters_string(thread['booster_count']) | safe }}
                {% if thread['responder_count'] > 0 %} ... {% endif %}
            {%- endif -%}
            {%- if thread['responder_count'] > 0 -%}
                {{ thread['responders'] | responders_string(thread['responder_count']) | safe }}
                {%- if thread['self'] is none -%}
                on a <a href="{{ url_for('note_page', note_id=thread['id']) }}#focussed">thread</a>
                {%- endif -%}
            {%- endif -%}
        </div>
        {%- endif -%}
            {%- if thread['self'] is string -%}
            <div class="note-container placeholder" data-id="{{thread['self']}}">
                <div class="note-image"><img src="/static/user.svg" class="user-image"></div>
                <div class="note-outer"><div class="note"><div class="pad-sm">Event: {{thread['self']}} not yet seen on network</div></div></div>
            </div>
            {%- else -%}
            <div class="{{root_class}}">
                <div class="thread-marker"></div>
                <div class="note-image">
                    {{post['nip05'] | nip05_valid(post['nip05_validated']) | safe }}
                    {%- with p=post -%}
                    {%- include 'profile/profile.image.html' -%}
                    {%- endwith -%}
                </div>
                <div class="note-outer">
                    {%- set reply_chain = post['thread_root'] | get_thread_root(post['response_to'], post['id']) -%}
                    {%- with note=post -%}
                    {%- include 'notes/note.html' -%}
                    {%- endwith -%}
                </div>
            </div>
            {%- endif -%}
        {%- else -%}
            {%- with item=post -%}
            {%- include 'notes/deleted.note.html' -%}
            {%- endwith -%}
        {%- endif -%}
    {%- endif -%}

    {%- if thread['response'] is not none -%}
        {%- set post = thread['response'] -%}

        {%- if thread['self'] is not none and post['response_to'] is not none -%}
            <div class="note-container connector">
                <div class="thread-marker"></div>
                <div class="note-image"></div>
                <a href="{{ url_for('note_page', note_id=post['id']) }}#focussed">View thread</a>
            </div>
        {%- endif -%}

        {%- if post['deleted'] is none -%}
        {%- if thread['responder_count'] > 0 and thread['self'] is none -%}
        <div class="response-accounts">
            {{ thread['responders'] | responders_string(thread['responder_count']) | safe }}
            {%- if thread['self'] is none -%}
            on a <a href="{{ url_for('note_page', note_id=thread['id']) }}#focussed">thread</a>
            {%- endif -%}
        </div>
        {%- endif -%}
        <div class="note-container">
            <div class="thread-marker"></div>
            <div class="note-image">
                {{post['nip05'] | nip05_valid(post['nip05_validated']) | safe }}
                {%- with p=post -%}
                {%- include 'profile/profile.image.html' -%}
                {%- endwith -%}
            </div>
            <div class="note-outer">
            {%- set reply_chain = post['thread_root'] | get_thread_root(post['response_to'], post['id']) -%}
            {%- with note=post -%}
            {%- include 'notes/note.html' -%}
            {%- endwith -%}
            </div>
        </div>
        <div class="note-container connector">
            <div class="note-image"></div>
            {%- if post['replies'] -%}
                <a href="{{ url_for('note_page', note_id=post['id']) }}#focussed">View replies</a>
            {%- endif -%}
        </div>
        {%- else -%}
        {%- with item=post -%}
        {%- include 'notes/deleted.note.html' -%}
        {%- endwith -%}
        {%- endif -%}
    {%- endif -%}
    <hr class="thread-divider" />
{%- endfor -%}
</div>