:root {
    --txt-clr: #fdffee;
    --txt-clr2: #8c8f9a;
    --lnk-clr: #4ec74c;
    --lnk-clr-hvr: #4ee44c;
    --lnk-clr2: #658dff;
    --bg-clr1: #1d2546;
    --bg-clr1-fade: #1a172a;
    --bg-clr2: #070d22;
    --bg-clr3: #243776;
    --bdr-clr-1: #2e2e52;
    --bdr-clr-2: #595988;
    --inpt-clr: #fffeee;
    --inpt-bg-clr: #0c0d0e;
    --inpt-bdr-clr: #243776;
    --inpt-bdr-clr-fcs: #9896ff;
    --mnu-clr: #f2f2f2;
    --mnu-clr-hvr: #9896ff;
    --btn-bg: #245c23;
    --btn-bg-hvr: #276026;
    --btn-txt: #ffffff;
    --btn-txt-hvr: #dddf90;

    --pad-tiny: 2px;
    --pad-sm: 5px;
    --pad-mid: 10px;
    --pad-lg: 20px;
}

/* global styles */
html {
  box-sizing: border-box;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: Arial;
  background: var(--bg-clr1);
  background-image: linear-gradient(to right, var(--bg-clr1) , var(--bg-clr1-fade));
  color: var(--txt-clr);
  padding-top: 70px;
  margin:0;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 5px 0 15px 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

td, tr{
    padding: var(--pad-sm);
}

a{
    text-decoration:none;
}

input[type=text], input[type=password], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--inpt-bdr-clr);
    background: var(--inpt-bg-clr);
    color: var(--inpt-clr);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], input[type=button], button {
  background-color: var(--btn-bg);
  color: var(--btn-txt);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover, input[type=button]:hover, button:hover {
  background-color: var(--btn-bg-hvr);
  color: var(--btn-txt-hvr);
}

:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--inpt-bdr-clr-fcs);
}

/* global header */
.conn-status{
    font-size: 10px;
    font-weight:800;
    padding: 5px;
    margin: 10px;
    background: var(--bg-clr3);
    border-radius: 5px;
}
.conn-status .status{
    padding: 5px;
    margin-right:10px;
}
.led{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right:5px;
}
.led.connected{
    background: green;
}
.led.recent{
    background: yellow;
}
.led.disconnected{
    background: grey;
}
.led.none{
    background: red;
}
/* ---------- */

/* Global Components */

.pad-tiny {
    padding: var(--pad-tiny);
}
.pad-sm {
    padding: var(--pad-sm);
}
.pad-mid {
    padding: var(--pad-mid);
}
.pad-lg {
    padding: var(--pad-lg);
}

/* Global UI */
.main {
  max-width:1000px;
  margin:auto;
}
.main.blur{
    filter: blur(5px);
}

.topnav {
    overflow: hidden;
    background-color: var(--bg-clr2);
    border-radius: 5px;
    border: 2px solid var(--bg-clr3);
    border-top-width: 0;
    box-shadow: 3px 3px 5px 0px black;
    position: fixed;
    width: 1000px;
    top: 0;
    z-index: 100;
}

.topnav a {
    float: left;
    display: block;
    color: var(--mnu-clr);
    text-align: center;
    padding: 14px 16px;
    display: flex;
    align-items: center;
    position: relative;
}

.topnav a:hover, .topnav a:active{
    background-color: var(--bg-clr3);
    color: var(--mnu-clr-hvr);
}
.topnav a img{
    width: 12px;
    height: 12px;
    margin-right: 10px;
    opacity: 0.4;
}
.topnav .title {
    font-size: 12px;
}
.topnav.nav-home .home-link, .topnav.nav-profile-me .profile-link, .topnav.nav-messages .messages-link, .topnav.nav-messages_from .messages-link, .topnav.nav-alerts .alerts-link, .topnav.nav-settings .settings-link{
    color: var(--lnk-clr);
    font-weight: 800;
    background: var(--bg-clr1);
}
.row{
    border-right: 1px solid var(--bdr-clr-1);
    padding-right: 20px;
}
.left-column {
    float: left;
    width: 75%;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid var(--bdr-clr-1);
}

.right-column {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
    padding: 20px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid var(--bdr-clr-2);
    background: var(--bg-clr1);
}

.notify {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 400px;
    padding: 20px;
    background: #364c89;
    color: #fff;
    border-radius: 10px;
    opacity: 0;
    animation: fadeInOut 3s linear;
    z-index: 400;
}
.sm{
    font-size:10px;
    color: var(--txt-clr2);
}

.right{
    float: right;
}

.dt{
    color: var(--txt-clr2);
    margin-left: 50px;
}

.alert{
    background: yellow;
    color: red;
    padding: 5px;
}

.popup-overlay{
    background: #000;
    opacity: 0.5;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.popup{
    background: var(--bg-clr1);
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 10px;
    width: 700px;
    max-height: 80%;
    overflow: auto;
    z-index: 1001;
    border: 1px solid var(--bdr-clr-2);
    border-radius: 5px;
}

.user-image{
    object-fit: cover;
    border-radius: 15%;
}

.error{
    border-color: red !important;
    color: red;
}
.clipboard{
    width: 12px;
    cursor: pointer;
}
.icon-sm{
    width: 14px;
    height: 14px;
}
/* ---------- */

/* Feed */
.poster-form{
    border-bottom: 1px solid var(--bdr-clr-2);
    margin-bottom: 30px;
    display: flex;
    background: var(--bg-clr2);
    padding: 10px;
    border-radius: 5px;
}
.poster-form .pic{
    flex-basis: 50px;
    padding: 5px;
}
.poster-form .pic img{
    width: 40px;
    height: 40px;
}
.poster-form form{
    flex: 1;
    margin: 0;
    padding: 0;
}
.poster-form textarea{
    margin-top: 0;
    height: 70px;
    border: 0;
    background: none;
}

input.post-submit {
    width: auto;
    padding: 5px;
}


/* Settings page */

.im-settings-container{
    display: flex;
    padding:5px;
}
.im-settings-container img{
    flex-basis: 60px;
    width: 60px;
    margin-right: 10px;
    border-radius: 10px;
}
.im-settings-container input{
    flex: 1;
}
.show-key img{
    width:16px;
}
.privkey {
    padding: 10px;
    border: 1px solid #f3810a;
    border-radius: 5px;
    display: none;
}
.privkey.show {
    display: block;
}
.key-format {
    font-size: 10px;
    color: var(--mnu-clr);
    border-radius: 5px;
    background: var(--bg-clr3);
    padding: 2px;
    font-weight: 800;
}
.keys p, .keys hr{
    margin-bottom:10px;
}

#relay_adder{
    display: flex;
}

/* ---------- */


/* Profile page */

.profile{
    padding: 30px;
    margin: 10px;
    background: var(--bg-clr3);
    border-radius: 5px;
    display: flex;
    border-bottom: 1px solid var(--lnk-clr);
    position: relative;
}
.profile-image {
    flex:0 0 120px;
}
.profile-image img{
    width: 120px;
    height: 120px
}
.profile-details{
    padding: 0 20px;
}
.profile-details pre{
    white-space:pre-wrap;
}

.profile-details h1{
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
}
.profile-tools{
    padding: 5px 20px;
    margin-bottom: 30px;
    position: absolute;
    right: 0;
    top: 10px
}
.profile-tools a{
    padding: 5px;
    background: var(--bg-clr2);
    border-radius: 8px;
    color: var(--lnk-clr);
    font-size: 12px;
}
.profile-tools a:hover{
    color: var(--lnk-clr-hvr);
}

.posts-title{
    border-bottom: 1px solid var(--bdr-clr-1);
    font-size: 12px;
    padding: 5px;
    color: var(--txt-clr2);
    margin-bottom: 30px;
}
.profile-menu{
    overflow: hidden;
    background-color: var(--bg-clr2);
    border-radius: 5px;
    border-top-width: 0;
    margin: 0 10px 25px 10px;
}
.profile-menu a{
    float: left;
    display: block;
    color: var(--mnu-clr);
    text-align: center;
    padding: 10px 15px;
}
.profile-menu a:hover{
    background-color: var(--bg-clr3);
    color: var(--mnu-clr-hvr);
}

.following-item{
    display: flex;
    padding: 10px;
    margin: 0 5px;
    border-bottom: 1px solid var(--bdr-clr-1);
    color: var(--txt-clr);
    align-items: center;
}
.following-item a{
    color: var(--txt-clr);
}
.following-item:hover{
    background: var(--bg-clr1);
}

.following-list .pic{
    flex-basis: 60px;
}
.following-list .pic img{
    width:60px;
    height: 60px;
}
.following-list .name{
    flex: 1;
    padding: 10px;
}
#profile form{
    display: none;
}
#profile.editing form{
    display: block;
}
#profile .profile-item{
    display:block;
}
#profile.editing .profile-item{
    display:none;
}
#profile pre a{
    color: var(--txt-clr);
    text-decoration: underline;
}
input[type=text].pname {
    background-image: url(at.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 120%;
    font-weight: bold
}

.new-posts{
    display: block;
    width: 200px;
    margin: auto;
    text-align: center;
    background: var(--bg-clr3);
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    color: var(--lnk-clr);
}

/* ---------- */


/* Login page */

.profileloader input[type=submit] {
    width:18%;
    margin-left:2%;
}
.profileloader input[type=text], .profileloader input[type=password] {
    width:80%;
}

/* ---------- */

/* Messages page */
.messages{
    padding-top: 100%;
}
.unseen{
    position: absolute;
    z-index: 100;
    top: 8px;
    font-size: 9px;
    font-weight: 800;
    background: #00ff00;
    color: #000;
    border-radius: 10px;
    min-width: 11px;
    height: 12px;
    padding: 1px;
    display: none;
    text-align: center;
    left: 25px;
}
.msg-link .unseen{
    display: block;
    font-size: 12px;
    height: 22px;
    padding: 4px;
    font-weight: 800;
    min-width: 22px;
    box-shadow: #000 2px 2px 4px;
    right: unset;
    left: 50px;
    top: 0;
}


.msg{
    display: flex;
    color: var(--txt-clr);
}
.msg.me{
    flex-direction: row-reverse;
}
.msg > *{
    padding: 5px;
}
.speech-bubble{
    color: var(--txt-clr);
    background: var(--bg-clr3);
    position: relative;
    padding: 15px 25px;
    border-radius: 10px;
    max-width: 520px;
    margin: 0 25px;
}
.them .speech-bubble{
    background: var(--bg-clr2);
}

.speech-bubble::after {
  content: "";
  border: 10px solid transparent;
  position: absolute;
}

.them .speech-bubble::after {
  border-right-color: var(--bg-clr2);
  border-left: 0;
  left: -10px;
  top: 15px;
}

.me .speech-bubble::after {
  border-left-color: var(--bg-clr3);
  border-right: 0;
  right: -10px;
  top: 15px;
}
.msg .dt{
    font-size: 10px;
    color:var(--txt-clr2);
    padding: 0 30px;
}
.them.msg .dt{
    float: right;
}
.msg-link{
    display: flex;
    padding: 0 10px;
    color: var(--txt-clr);
    position: relative;
}
.msg-link > *{
    padding: 5px;
}
.msg-profile-pic{
    flex-basis: 60px;
}
.msg-profile-pic img{
    width: 60px;
    border-radius:10px;
    margin-bottom:25px;
}
.msg-profile-name{
    font-size: 20px;
    margin-bottom: 8px;
}
#message-poster{
    position: sticky;
    bottom: 0;
    background: var(--bg-clr1);
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

/* ---------- */

/* Thread page */
.note-container{
    display: flex;
    padding: 0 10px;
    position: relative;
    font-size: 14px;
}
.note-container > *{
    margin:10px;
}
.note-container.root {
    font-size: 120%;
    filter: saturate(1.1);
}
.note-container.root .note {
    border: 2px solid var(--bg-clr3);
}

.note-container.main .note {
    font-size: 16px;
    filter: saturate(1.3);
    border-radius: 10px;
    background: var(--bg-clr3);
}
.note-container.main .note .note-container .note{
    font-size: 14px;
    filter: saturate(0.8);
}

.note-container.ancestor{
    border-bottom:0;
}
.note-container.deleted {
    font-size: 10px;
    opacity: 0.7;
}
.note-container .note-container {
    border: 2px solid var(--bdr-clr-2);
    margin: 5px;
    border-radius: 10px;
    background: var(--bg-clr1);
    display: flex !important;
}
.note-image{
    flex: 0 0 60px;
}
.note-image img{
    width: 60px;
    height: 60px;
    position: relative;
}

.thread-pointer{
    position: absolute;
    border: 2px dashed var(--bdr-clr-2);
    border-right: 0;
    width: 80px;
    border-radius: 20px;
    height: 1000px;
    margin-top: 10px;
    margin-left: 30px;
}

.thread-marker{
    position: absolute;
    width: 0;
    border-color: var(--bdr-clr-2);
    border-style: solid;
    border-width: 0 0 2px 2px;
    display: none;
    top: 80px;
    left: 40px;
    margin: 0 10px;
    bottom: 10px;
}

.note-container.ancestor .thread-marker{
    display: block;
}

.note-container.reply .thread-marker{
    display: block;
    height: 90px;
    border-bottom-left-radius: 20px;
    width: 130px;
    border-style: dotted;
    top: 0;
}
.note-container.deleted  .thread-marker{
    display: none;
}
.note-container.reply .note-image{
    flex: 0 0 150px
}
.note-container.reply .note-image img{
    margin-left: 90px;
}
.note-container.placeholder{
    font-size:80%;
    opacity: 0.7;
}

.note-container.connector{
    height: 40px;
    align-items: center;
}
.note-container.connector a{
    color: var(--lnk-clr);
    font-size: 12px;
    flex: 1;
    text-align: center;
}
.note-container.connector .thread-marker{
    border-style: dashed;
    top: 0;
    bottom: 5px;
    display: block;
}

.note-content{
    border-radius:8px;
    background: var(--bg-clr2);
    padding:10px;
}
.note-content pre{
    margin:0;
    white-space: pre-wrap;
    cursor:pointer;
    background: var(--bg-clr2);
    position: relative;
    word-break: break-word;
}
.note-content pre:hover{
    filter: brightness(1.2);
}
.feed-block .note-content pre *{
    pointer-events: none;
}
.feed-block .note-content pre a {
    color: var(--txt-clr2);
}

.note-container.main .note-content{
    cursor:auto;
}

.thread-divider{
    border: 0;
    border-bottom: 1px solid var(--bdr-clr-1);
    margin-bottom: 50px;
}

.muted{
    font-size: 70%;
    filter: saturate(0.5);
    border-radius:8px;
    background: var(--bg-clr2);
    padding:10px;
    width:fit-content;
}
.note-outer{
    flex: 1;
}
.note{
    padding: 0 10px;
    border-radius: 10px;
    background: var(--bg-clr1);
    box-shadow: 1px 1px 4px var(--bg-clr2);
}
.note .image-attachment{
    text-align: center;
    margin-top: 20px;
}

.note a{
    color: var(--lnk-clr);
}
.note a:hover{
    color: var(--lnk-clr-hvr);
}
.note h3{
    margin-bottom:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.note h3 *{
    line-height: 24px;
}

.reply-form{
    display:none;
}
.reply-form.poster-form {
    flex-wrap: wrap;
    justify-content: flex-end;
}

.info{
    font-size: 12px;
    margin-left: 15px;
    cursor: pointer;
}
.note-opts{
    position: relative;
}
.note-opts img{
    width: 12px;
    margin-left: 15px;
    cursor: pointer;
}
.note-opts .opts-menu{
    padding: 5px;
    font-size: 10px;
    visibility: hidden;
    position: absolute;
    width: 100px;
    background: var(--bg-clr1);
    top: 5px;
    right: 5px;
    border: 1px solid var(--bdr-clr-2);
    border-radius: 5px;
    box-shadow: 1px 1px 3px #000;
    z-index: 1000;
}
.note-opts .opts-menu li:hover {
    filter: brightness(1.3);
    color: var(--lnk-clr);
}

.note-opts .opts-menu li {
    padding: 2px;
    cursor: pointer;
}
.note-opts:hover .opts-menu{
    visibility: visible;
}

.nip5{
    font-size: 11px;
    font-style: italic;
    color: var(--txt-clr2);
}
.response-accounts{
    font-size: 10px;
    font-weight: 200;
    padding: 0px 5px 10px;
}
.response-accounts a{
    color: var(--lnk-clr2);
    font-weight: 600;
}
p.note-tools {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 5px;
    line-height: 14px;
}
p.note-tools img{
    width:14px;
    height:14px;
}

.note-tools .section{
    position: relative;
}

.note-tools .counts{
    font-size: 10px;
    background: var(--bg-clr3);
    position: absolute;
    top: 2px;
    left: 20px;
    border-radius: 5px;
    font-weight: 900;
}
.popup .note-container{
    pointer-events:none;
    user-select: none;
}
.reveal{
    background-image: linear-gradient(to top, var(--bg-clr2) 30%, transparent 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 60px;
    padding: 30px;
}
.reveal span{
    padding: 5px;
    border-radius: 5px;
    background: var(--btn-bg);
    font-size: 12px;
}

.note-media img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border: 1px solid var(--bdr-clr-2);
    border-radius: 10px;
    cursor: pointer;
}
.name-hints{
    background: var(--bg-clr3);
    border-radius: 5px;
    flex: 100%;
}
.name-hints ul{
    padding: 5px;
}
.name-hints li {
    padding: 2px;
    cursor: pointer;
}
.name-hints li:hover {
    background: var(--bg-clr2);
}
.note .og {
    border: 1px solid var(--bdr-clr-2);
    margin: 5px 0 0 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    display: block;
    color: var(--txt-clr);
}
.note .og:hover {
    color: var(--txt-clr);
    border: 1px solid var(--bg-clr3);
}
.note .vid {
    max-width: 100%;
}
.mnemonic{
    background: var(--bg-clr2);
    padding: 5px;
    font-size: 20px;
    display: block;
    margin: 10px 0;
}
/* ---------- */

/* Alerts */
.alert-content{
    padding: 15px 0;
    border-radius: 5px;
    color: var(--txt-clr2);
}
.alerts{

}
.alerts li {
    border-bottom: 1px solid var(--bdr-clr-2);
    padding: 20px 5px 10px;
    position: relative;
}
.alerts li a{
    color: var(--txt-clr);
    display: flex;
}
.alerts li:hover {
    background: var(--bg-clr2);
}
.alerts .reaction{
    font-size: 15px;
    position: absolute;
    left: 35px;
    filter: drop-shadow(2px 4px 6px black);
    top: 15px;
}
.alerts .alert-image{
    flex: 0 0 50px;
}
.alerts .alert-main{
    flex:1;
    padding-left: 10px;
}
.alerts img.comment{
    width: 20px;
    margin-right: 10px;
}
.alerts .user-image{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* Right column */
#right_content {
    position: fixed;
    top: 150px;
    width: 230px;
    bottom: 10px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index:100;
}
#right_content::-webkit-scrollbar {
    display: none;
}
#right_content h3 {
    font-size: 12px;
    font-weight: 800;
    border-bottom: 1px solid var(--bdr-clr-1);
    color: var(--txt-clr2);
    padding: 3px;
}
#search {
    position: fixed;
    width:220px;
    z-index: 200;
}

#search input{
    margin: 0;
    border-radius: 20px;
}
#search p{
    padding: 0 20px;
}
#search_hints{
    position:absolute;
}
.thread-members{
    border: 1px solid var(--bdr-clr-1);
}
.thread-members li{
    padding: 10px;
    display: flex;
    align-items: center;
}
.thread-members .user-image{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.thread-members a{
    color: var(--txt-clr2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile-brief.card {
    display: flex;
    padding: 10px;
    align-items: center;
}
.profile-brief .profile-image {
    flex: 0 0 30px;
}
.profile-brief .profile-image img {
    width: 30px;
    height: 30px;
}
.profile-brief a.name{
    color: var(--txt-clr);
}
.profile-brief .uname{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    display: inline-block;
}
/* ---------- */

@keyframes fadeInOut {
  0%,100% { opacity: 0 }
  10%, 80% { opacity: 1 }
}

@media screen and (max-width: 800px) {
  .left-column, .right-column {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}