:root {
    --txt-clr: #fdffee;
    --txt-clr2: #8c8f9a;
    --lnk-clr: #4ec74c;
    --lnk-clr-hvr: #4ee44c;
    --lnk-clr2: #658dff;
    --bg-clr1: #1d2546;
    --bg-clr1-fade: #1a172a;
    --bg-clr2: #070d22;
    --bg-clr3: #243776;
    --bdr-clr-1: #2e2e52;
    --bdr-clr-2: #595988;
    --input-clr: #fffeee;
    --input-bg-clr: #0c0d0e;
    --input-bdr-clr: #243776;
    --input-bdr-clr-fcs: #9896ff;
    --mnu-clr: #f2f2f2;
    --mnu-clr-hvr: #9896ff;
    --btn-bg: #245c23;
    --btn-bg-hvr: #276026;
    --btn-txt: #ffffff;
    --btn-txt-hvr: #dddf90;

    /* spacing (pad, margin..) */
    --spacing-tiny: 2px;
    --spacing-sm: 5px;
    --spacing-mid: 10px;
    --spacing-mid2: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 30px;
    
    /* font sizes */
    --fs-base: 16px;
    --fs-tiny: 0.7rem;
    --fs-sm: 0.8rem;
    --fs-mid1: 1rem;
    --fs-mid2: 1.2rem;
    --fs-mid-lg:1.6rem;
    --fs-mid-xl:1.8rem;

    /* border-radius */
    --rnd-sm: 3px;
    --rnd: 3px;
    --rnd-mid: 8px;
    --rnd-lg: 10px;

    --icon-sm: 12px;
    --icon: 14px;
    --icon-lg: 16px;
}

/* global styles */
html {
  box-sizing: border-box;
  font-size: var(--fs-base);
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: Arial;
  background: var(--bg-clr1);
  background-image: linear-gradient(to right, var(--bg-clr1) , var(--bg-clr1-fade));
  color: var(--txt-clr);
  padding-top: 70px;
  margin:0;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: var(--spacing-sm) 0 var(--spacing-mid2) 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

td, tr{
    padding: var(--spacing-sm);
}

a{
    text-decoration:none;
}

input[type=text], input[type=password], textarea {
    width: 100%;
    padding: var(--spacing-mid);
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--input-bdr-clr);
    background: var(--input-bg-clr);
    color: var(--input-clr);
    border-radius: var(--rnd);
    box-sizing: border-box;
    font-size: var(--fs-sm);
}

input[type=submit], input[type=button], button {
  background-color: var(--btn-bg);
  color: var(--btn-txt);
  padding: var(--spacing-sm);
  margin: 8px 0;
  border: none;
  border-radius: var(--rnd);
  cursor: pointer;
    font-size: var(--fs-sm);
}
button.img-btn{
    display: flex;
    padding: 0;
}
button.img-btn > *{
    margin: var(--spacing-mid);
}


input[type=submit]:hover, input[type=button]:hover, button:hover {
  background-color: var(--btn-bg-hvr);
  color: var(--btn-txt-hvr);
}

:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--input-bdr-clr-fcs);
}

/* global header */
.conn-status{
    font-size: var(--fs-tiny);
    font-weight:800;
    margin: var(--spacing-mid);
    background: var(--bg-clr3);
}
.conn-status .status{
    padding: var(--spacing-sm);
    margin-right: var(--spacing-mid);
}
.led{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right:var(--spacing-sm);
}
.led.connected{
    background: green;
}
.led.recent{
    background: yellow;
}
.led.disconnected{
    background: grey;
}
.led.none{
    background: red;
}
/* ---------- */

/* Global Components */

.pad-tiny {
    padding: var(--spacing-tiny);
}
.pad-sm {
    padding: var(--spacing-sm);
}
.pad-mid {
    padding: var(--spacing-mid);
}
.pad-lg {
    padding: var(--spacing-lg);
}

.bg1{
    background: var(--bg-clr1);
}
.bg2{
    background: var(--bg-clr2);
}
.bg3{
    background: var(--bg-clr3);
}

.icon{
    width: var(--icon);
    height: var(--icon);
}
.icon-sm{
    width: var(--icon-sm);
    height: var(--icon-sm);
}
.icon-lg{
    width: var(--icon-lg);
    height: var(--icon-lg);
}

.rnd{
    border-radius: var(--rnd);
}

/* Global UI */
.main {
  max-width:1000px;
  margin:auto;
}
.main.blur{
    filter: blur(5px);
}

.topnav {
    overflow: hidden;
    background-color: var(--bg-clr2);
    border: 2px solid var(--bg-clr3);
    border-top-width: 0;
    box-shadow: 3px 3px 5px 0px black;
    position: fixed;
    width: 1000px;
    top: 0;
    z-index: 100;
}

.topnav a {
    float: left;
    display: block;
    color: var(--mnu-clr);
    text-align: center;
    padding: var(--spacing-mid2);
    display: flex;
    align-items: center;
    position: relative;
}
.topnav a.logout{
    float: right;
}
.topnav a:hover, .topnav a:active{
    background-color: var(--bg-clr3);
    color: var(--mnu-clr-hvr);
}
.topnav a img{
    width: var(--icon-lg);
    height: var(--icon-lg);
    margin-right: var(--spacing-mid);
    opacity: 0.4;
}
.topnav .title {
    font-size: var(--fs-sm);
}
.topnav.nav-home .home-link, .topnav.nav-profile-me .profile-link, .topnav.nav-messages .messages-link, .topnav.nav-messages_from .messages-link, .topnav.nav-alerts .alerts-link, .topnav.nav-settings .settings-link{
    color: var(--lnk-clr);
    font-weight: 800;
    background: var(--bg-clr1);
}
.row{
    border-right: 1px solid var(--bdr-clr-1);
}
.left-column {
    float: left;
    width: 75%;
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
    border-right: 1px solid var(--bdr-clr-1);
}

.right-column {
  float: left;
  width: 25%;
  padding-left: var(--spacing-lg);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
    padding: var(--spacing-lg);
    margin-top: var(--spacing-lg);
    border-radius: var(--rnd-sm);
    border: 1px solid var(--bdr-clr-2);
    background: var(--bg-clr1);
    width: 100%;
    float: left;
}

.notify {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 400px;
    padding: var(--spacing-lg);
    background: #364c89;
    color: #fff;
    border-radius: var(--rnd-lg);
    opacity: 0;
    animation: fadeInOut 3s linear;
    z-index: 400;
}
.sm{
    font-size: var(--fs-tiny);
    color: var(--txt-clr2);
}

.right{
    float: right;
}

.dt{
    color: var(--txt-clr2);
    margin-left: 50px;
}

.alert{
    background: yellow;
    color: red;
    padding: var(--spacing-sm);
}

.popup-overlay{
    background: #000;
    opacity: 0.5;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.popup{
    background: var(--bg-clr1);
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: var(--spacing-mid);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    z-index: 1001;
    border: 1px solid var(--bdr-clr-2);
}

.user-image{
    object-fit: cover;
    border-radius: 15%;
}

.error{
    border-color: red !important;
    color: red;
}
.clipboard{
    cursor: pointer;
}

/* ---------- */

/* Feed */
.poster-form{
    border-bottom: 1px solid var(--bdr-clr-2);
    margin-bottom: 30px;
    display: flex;
    background: var(--bg-clr2);
}
.poster-form .pic{
    flex-basis: 50px;
}
.poster-form .pic img{
    width: 40px;
    height: 40px;
}
.poster-form form{
    flex: 1;
    margin: 0;
    padding: 0;
}
.poster-form textarea{
    margin-top: 0;
    height: 70px;
    border: 0;
    background: none;
}

input.post-submit {
    width: auto;
}
.media_uploads{
    width: 100%;
}
.media_uploads img{
    margin: var(--spacing-mid);
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 5px solid var(--bdr-clr-1);
    border-radius: var(--rnd-mid);
}


/* Settings page */

.key-box{
    display: flex;
    align-items: center;
}
.key-box .key{
    text-overflow: ellipsis;
    overflow: hidden;
}



.privkey {
    border: 1px solid #f3810a;
    display: none;
}
.privkey.show {
    display: block;
}
.key-format {
    font-size: var(--fs-tiny);
    color: var(--mnu-clr);
    border-radius: var(--rnd);
    background: var(--bg-clr3);
    padding: var(--spacing-tiny);
    font-weight: 800;
}
.keys p, .keys hr{
    margin-bottom: var(--spacing-mid);
}

#relay_adder{
    display: flex;
}

/* ---------- */


/* Profile page */

.profile{
    padding: var(--spacing-xl);
    margin: var(--spacing-mid);
    background: var(--bg-clr3);
    display: flex;
    border-bottom: 1px solid var(--lnk-clr);
    position: relative;
}
.profile-image {
    flex:0 0 120px;
}
.profile-image img{
    width: 120px;
    height: 120px
}
.profile-details{
    padding: 0 var(--spacing-lg);
}
.profile-details pre{
    white-space:pre-wrap;
}

.profile-details h1{
    font-weight: 800;
    font-size: var(--fs-xl);
    line-height: 20px;
    margin-bottom: 0;
}
.profile-tools{
    padding: var(--spacing-sm) var(--spacing-lg);
    margin-bottom: 30px;
    position: absolute;
    right: 0;
    top: var(--spacing-mid);
}
.profile-tools a{
    padding: var(--spacing-sm);
    background: var(--bg-clr2);
    border-radius: var(--rnd-mid);
    color: var(--lnk-clr);
    font-size: var(--fs-sm);
}
.profile-tools a:hover{
    color: var(--lnk-clr-hvr);
}

.posts-title{
    border-bottom: 1px solid var(--bdr-clr-1);
    font-size: var(--fs-sm);
    padding: var(--spacing-sm);
    color: var(--txt-clr2);
    margin-bottom: 30px;
}
.profile-menu{
    overflow: hidden;
    background-color: var(--bg-clr2);
    border-top-width: 0;
    margin: 0 var(--spacing-mid) 25px var(--spacing-mid);
}
.profile-menu a{
    float: left;
    display: block;
    color: var(--mnu-clr);
    text-align: center;
    padding: var(--spacing-mid) var(--spacing-mid2);
}
.profile-menu a:hover{
    background-color: var(--bg-clr3);
    color: var(--mnu-clr-hvr);
}

.following-item{
    display: flex;
    padding: var(--spacing-mid);
    margin: 0 var(--spacing-sm);
    border-bottom: 1px solid var(--bdr-clr-1);
    color: var(--txt-clr);
    align-items: center;
}
.following-item a{
    color: var(--txt-clr);
}
.following-item:hover{
    background: var(--bg-clr1);
}

.following-list .pic{
    flex-basis: 60px;
}
.following-list .pic img{
    width:60px;
    height: 60px;
}
.following-list .name{
    flex: 1;
    padding: var(--spacing-mid);
}
#profile form{
    display: none;
}
#profile.editing form{
    display: block;
}
#profile .profile-item{
    display:block;
}
#profile.editing .profile-item{
    display:none;
}
#profile pre a{
    color: var(--txt-clr);
    text-decoration: underline;
}
input[type=text].pname {
    background-image: url(at.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 120%;
    font-weight: bold
}

.new-posts{
    display: block;
    width: 200px;
    margin: auto;
    text-align: center;
    background: var(--bg-clr3);
    font-size: var(--fs-sm);
    padding: var(--spacing-sm);
    border-radius: var(--rnd);
    color: var(--lnk-clr);
}

/* ---------- */


/* Login page */

.profileloader input[type=submit] {
    width:18%;
    margin-left:2%;
}
.profileloader input[type=text], .profileloader input[type=password], .profileloader textarea{
    width:80%;
}

/* ---------- */

/* Messages page */
.messages{
    padding-top: 100%;
}
.unseen{
    position: absolute;
    z-index: 100;
    top: 8px;
    font-size: var(--fs-tiny);
    font-weight: 800;
    background: #00ff00;
    color: #000;
    border-radius: var(--rnd-lg);
    min-width: 11px;
    padding: var(--spacing-tiny);
    display: none;
    text-align: center;
    left: 25px;
}
.msg-link .unseen{
    display: block;
    font-size: var(--fs-sm);
    height: 22px;
    padding: var(--spacing-sm);
    font-weight: 800;
    min-width: 22px;
    box-shadow: #000 2px 2px 4px;
    right: unset;
    left: 50px;
    top: 0;
}


.msg{
    display: flex;
    color: var(--txt-clr);
}
.msg.me{
    flex-direction: row-reverse;
}
.msg > *{
    padding: var(--spacing-sm);
}
.speech-bubble{
    color: var(--txt-clr);
    background: var(--bg-clr3);
    position: relative;
    padding: var(--spacing-mid2) var(--spacing-lg);
    border-radius: var(--rnd-lg);
    max-width: 520px;
    margin: 0 25px;
}
.them .speech-bubble{
    background: var(--bg-clr2);
}

.speech-bubble::after {
  content: "";
  border: 10px solid transparent;
  position: absolute;
}

.them .speech-bubble::after {
  border-right-color: var(--bg-clr2);
  border-left: 0;
  left: -10px;
  top: 15px;
}

.me .speech-bubble::after {
  border-left-color: var(--bg-clr3);
  border-right: 0;
  right: -10px;
  top: 15px;
}
.msg .dt{
    font-size: var(--fs-tiny);
    color:var(--txt-clr2);
    padding: 0 var(--spacing-xl);
}
.them.msg .dt{
    float: right;
}
.msg-link{
    display: flex;
    padding: 0 var(--spacing-mid);
    color: var(--txt-clr);
    position: relative;
}
.msg-link > *{
    padding: var(--spacing-sm);
}
.msg-profile-pic{
    flex-basis: 60px;
}
.msg-profile-pic img{
    width: 60px;
    border-radius:var(--rnd-lg);
    margin-bottom:25px;
}
.msg-profile-name{
    font-size: var(--fs-xl);
    margin-bottom: 8px;
}
#message-poster{
    position: sticky;
    bottom: 0;
    background: var(--bg-clr1);
    padding: var(--spacing-mid);
    border-radius: var(--rnd-lg) var(--rnd-lg) 0 0;
}

/* ---------- */

/* Thread page */
.note-container{
    display: flex;
    padding: 0 var(--spacing-mid);
    position: relative;
    font-size: var(--fs-mid1);
}
.note-container > *{
    margin: var(--spacing-mid);
}
.note-container.root {
    font-size: 120%;
    filter: saturate(1.1);
}
.note-container.root .note {
    border: 2px solid var(--bg-clr3);
}

.note-container.main .note {
    font-size: var(--fs-mid2);
    filter: saturate(1.3);
    border-radius: var(--rnd-lg);
    background: var(--bg-clr3);
}
.note-container.main .note .note-container .note{
    font-size: var(--fs-mid1);
    filter: saturate(0.8);
}

.note-container.ancestor{
    border-bottom:0;
}
.note-container.deleted {
    font-size: var(--fs-tiny);
    opacity: 0.7;
}
.note-container .note-container {
    border: 2px solid var(--bdr-clr-2);
    margin: var(--spacing-sm);
    border-radius: var(--rnd-lg);
    background: var(--bg-clr1);
    display: flex !important;
}
.note-image{
    flex: 0 0 60px;
}
.note-image img{
    width: 60px;
    height: 60px;
    position: relative;
}

.thread-pointer{
    position: absolute;
    border: 2px dashed var(--bdr-clr-2);
    border-right: 0;
    width: 80px;
    border-radius: 20px;
    height: 1000px;
    margin-top: var(--spacing-mid);
    margin-left: 30px;
}

.thread-marker{
    position: absolute;
    width: 0;
    border-color: var(--bdr-clr-2);
    border-style: solid;
    border-width: 0 0 2px 2px;
    display: none;
    top: 80px;
    left: 40px;
    margin: 0 var(--spacing-mid);
    bottom: var(--spacing-mid);
}

.note-container.ancestor .thread-marker{
    display: block;
}

.note-container.reply .thread-marker{
    display: block;
    height: 90px;
    border-bottom-left-radius: 20px;
    width: 130px;
    border-style: dotted;
    top: 0;
}
.note-container.deleted  .thread-marker{
    display: none;
}
.note-container.reply .note-image{
    flex: 0 0 150px
}
.note-container.reply .note-image img{
    margin-left: 90px;
}
.note-container.placeholder{
    font-size:80%;
    opacity: 0.7;
    word-break: break-word;
}

.note-container.connector{
    height: 40px;
    align-items: center;
}
.note-container.connector a{
    color: var(--lnk-clr);
    font-size: var(--fs-sm);
    flex: 1;
    text-align: center;
}
.note-container.connector .thread-marker{
    border-style: dashed;
    top: 0;
    bottom: var(--spacing-sm);
    display: block;
}

.note-content{
    border-radius:var(--rnd-mid);
    background: var(--bg-clr2);
    padding:var(--spacing-mid);
}
.note-content pre{
    margin:0;
    white-space: pre-wrap;
    cursor:pointer;
    background: var(--bg-clr2);
    position: relative;
    word-break: break-word;
}
.note-content pre:hover{
    filter: brightness(1.2);
}
.feed-block .note-content pre *{
    pointer-events: none;
}
.feed-block .note-content pre a {
    color: var(--txt-clr2);
}

.note-container.main .note-content{
    cursor:auto;
}

.thread-divider{
    border: 0;
    border-bottom: 1px solid var(--bdr-clr-1);
    margin-bottom: 50px;
}

.note-outer{
    flex: 1;
}
.note{
    padding: 0 var(--spacing-mid);
    border-radius: var(--rnd-lg);
    background: var(--bg-clr1);
    box-shadow: 1px 1px 4px var(--bg-clr2);
}
.note .image-attachment{
    text-align: center;
    margin-top: var(--spacing-lg);
}

.note a{
    color: var(--lnk-clr);
}
.note a:hover{
    color: var(--lnk-clr-hvr);
}
.note h3{
    margin-bottom:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.note h3 > *{
    line-height: 24px;
    flex: 1;
}
.note h3 .note-info{
    text-align:right;
}

.reply-form{
    display:none;
}
.reply-form.poster-form {
    flex-wrap: wrap;
    justify-content: flex-end;
}

.info{
    font-size: var(--fs-sm);
    margin-left: var(--spacing-mid2);
    cursor: pointer;
}
.note-opts{
    position: relative;
}
.note-opts img{
    margin-left: var(--spacing-mid2);
    cursor: pointer;
}
.note-opts .opts-menu{
    font-size: var(--fs-tiny);
    visibility: hidden;
    position: absolute;
    width: 100px;
    background: var(--bg-clr1);
    top: var(--spacing-sm);
    right: var(--spacing-sm);
    border: 1px solid var(--bdr-clr-2);
    box-shadow: 1px 1px 3px #000;
    z-index: 1000;
}
.note-opts .opts-menu li:hover {
    filter: brightness(1.3);
    color: var(--lnk-clr);
}

.note-opts .opts-menu li {
    cursor: pointer;
}
.note-opts:hover .opts-menu{
    visibility: visible;
}

.nip5{
    font-size: var(--fs-sm);
    font-style: italic;
    color: var(--txt-clr2);
}
.response-accounts{
    font-size: var(--fs-tiny);
    font-weight: 200;
    padding: 0px var(--spacing-sm) var(--spacing-mid);
}
.response-accounts a{
    color: var(--lnk-clr2);
    font-weight: 600;
}
p.note-tools {
    display: flex;
    justify-content: space-around;
    margin: 0;
    line-height: 14px;
}

.note-tools .section{
    position: relative;
}

.note-tools .counts{
    font-size: var(--fs-tiny);
    background: var(--bg-clr3);
    position: absolute;
    top: 2px;
    left: 20px;
    font-weight: 900;
}
.popup .note-container{
    pointer-events:none;
    user-select: none;
}
.reveal{
    background-image: linear-gradient(to top, var(--bg-clr2) 30%, transparent 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 60px;
    padding: var(--spacing-xl);
}
.reveal span{
    padding: var(--spacing-sm);
    border-radius: var(--rnd);
    background: var(--btn-bg);
    font-size: var(--fs-sm);
}

.note-media img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border: 1px solid var(--bdr-clr-2);
    border-radius: var(--rnd-lg);
    cursor: pointer;
}
.name-hints{
    background: var(--bg-clr3);
    border-radius: var(--rnd);
    flex: 100%;
}
.name-hints ul{
    padding: var(--spacing-sm);
}
.name-hints li {
    padding: var(--spacing-tiny);
    cursor: pointer;
}
.name-hints li:hover {
    background: var(--bg-clr2);
}
.note .og {
    border: 1px solid var(--bdr-clr-2);
    margin: var(--spacing-sm) 0 0 0;
    font-size: var(--fs-sm);
    display: block;
    color: var(--txt-clr);
}
.note .og:hover {
    color: var(--txt-clr);
    border: 1px solid var(--bg-clr3);
}
.note .og-url{
    display: inline-block;
    overflow: hidden;
    overflow-wrap: anywhere;
    max-height: 1em;
}
.note .vid {
    max-width: 100%;
}
.mnemonic{
    background: var(--bg-clr2);
    font-size: var(--fs-xl);
    display: block;
    margin: var(--spacing-mid) 0;
}
.toolbar > * {
    margin: var(--spacing-mid);
}
.toolbar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    position: relative;
}
.emoji_selector{
    display: flex;
    align-items: flex-start;
    font-size: var(--fs-mid1);
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-clr3);
    right: 25%;
}
.emoji_selector div *{
    float: left;
    margin: var(--spacing-sm);
}
.emoji_selector input{
    display: none;
    width: 30%;
    margin: 0;
    padding: var(--spacing-sm);
}
.emoji_selector.show input{
    display: block;
}

/* ---------- */

/* Alerts */
.alert-content{
    padding: var(--spacing-mid2) 0;
    border-radius: var(--rnd);
    color: var(--txt-clr2);
}
.alerts{

}
.alerts li {
    border-bottom: 1px solid var(--bdr-clr-2);
    padding: var(--spacing-lg) var(--spacing-sm) var(--spacing-mid);
    position: relative;
}
.alerts li a{
    color: var(--txt-clr);
    display: flex;
}
.alerts li:hover {
    background: var(--bg-clr2);
}
.alerts .reaction{
    font-size: var(--fs-mid1);
    position: absolute;
    left: 35px;
    filter: drop-shadow(2px 4px 6px black);
    top: var(--spacing-mid2);
}
.alerts .alert-image{
    flex: 0 0 50px;
}
.alerts .alert-main{
    flex:1;
    padding-left: var(--spacing-mid);
}
.alerts img.comment{
    width: 20px;
    margin-right: var(--spacing-mid);
}
.alerts .user-image{
    width: 40px;
    height: 40px;
    margin-right: var(--spacing-mid);
}

/* Right column */
#right_content {
    position: fixed;
    top: 150px;
    width: 230px;
    bottom: var(--spacing-mid);
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index:100;
}
#right_content::-webkit-scrollbar {
    display: none;
}
#right_content h3 {
    font-size: var(--fs-sm);
    font-weight: 800;
    border-bottom: 1px solid var(--bdr-clr-1);
    color: var(--txt-clr2);
}
#search {
    position: fixed;
    width:220px;
    z-index: 200;
}

#search input{
    margin: 0;
    border-radius: 20px;
}
#search p{
    padding: 0 var(--spacing-lg);
}
#search_hints{
    position:absolute;
}
.thread-members{
    border: 1px solid var(--bdr-clr-1);
}
.thread-members li{
    display: flex;
    align-items: center;
}
.thread-members .user-image{
    width: 30px;
    height: 30px;
    margin-right: var(--spacing-mid);
}
.thread-members a{
    color: var(--txt-clr2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile-brief.card {
    display: flex;
    align-items: center;
}
.profile-brief .profile-image {
    flex: 0 0 30px;
}
.profile-brief .profile-image img {
    width: 30px;
    height: 30px;
}
.profile-brief a.name{
    color: var(--txt-clr);
}
.profile-brief .uname{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    display: inline-block;
}
/* ---------- */

@keyframes fadeInOut {
  0%,100% { opacity: 0 }
  10%, 80% { opacity: 1 }
}

@media screen and (max-width: 1000px) {
    :root {
        --spacing-tiny: 5px;
        --spacing-sm: 10px;
        --spacing-mid: 15px;
        --spacing-mid2: 25px;
        --spacing-lg: 35px;
        --spacing-xl: 50px;

        --fs-base: 50px;

        --icon-sm: 40px;
        --icon: 50px;
        --icon-lg: 60px;
    }
    .left-column, .right-column {
        width: 100%;
    }
    .left-column{
        padding-left: var(--spacing-sm);
        padding-right: var(--spacing-sm);
    }
    #right_content{
        position: relative;
    }
    .topnav{
        width: calc(100vw - var(--spacing-mid));
        display: flex;
        left: calc(var(--spacing-mid)/2);
    }
    .topnav a{
        justify-content: center;
        flex: 1;
        align-items: center;
    }
    .desktop-only{
        display: none;
    }
}