<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href='/static/styles.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script src="/static/page.js"></script>
  <title>{{ title }}</title>
</head>

<body>
<div class="main" data-page="{{page_id}}">
  <div class="topnav">
    <a href="/"><img src="static/home.svg"><span class="title">feed</span><span id="n_unseen_posts" class="unseen"></span></a>
    <a href="/profile"><img src="static/profile.svg"><span class="title">profile</span></a>
    <a href="/messages"><img src="static/messages.svg"><span class="title">messages</span><span id="n_unseen_messages" class="unseen"></span></a>
    <a href="#"><img src="static/notif.svg"><span class="title">alerts</span></a>
    <a href="/settings"><img src="static/settings.svg"><span class="title">settings</span></a>
    <span class="conn-status right"></span>
  </div>

  <div class="row">
    <div class="left-column" id="main-content">
      {%- block content -%}
      {%- endblock content -%}
    </div>
    <div class="right-column">
        <form id="search" action="/search" method="get">
          <input type="text" name="search_term" placeholder="Search">
          <p class="sm">search for a pubkey or nip-05 address</p>
        </form>
        <div id="right_content">
        {%- block right_content -%}
        {%- endblock right_content -%}
        </div>
    </div>
  </div>
</div>

</body>
</html>