{%- extends "base.html" -%}
{%- block css -%}
{%- include 'css.html' -%}
{%- endblock css -%}

{%- block content -%}
{%- include 'profile.header.html' -%}
<div class="following-list">
{%- for p in profiles: -%}
    <div class="following-item">
        <div class="pic">
            {%- include 'profile.image.html' -%}
        </div>
        <div class="name"><a href="/profile?pk={{p['public_key']}}">{{p['name'] | ident_string(p['public_key'], p['nip05'], p['nip05_validated']) | safe }}</a></div>
        {%- if p['following'] == False: -%}
        <button class="follow-btn" data-rel="{{p['public_key']}}" data-state="1" data-upd="0">+</button>
        {%- else: -%}
        {{'following'| svg_icon('icon')|safe}}
        {%- endif -%}
    </div>
{%- endfor -%}
</div>
{%- endblock content -%}