{%- extends "base.html" -%}
{%- block css -%}
{%- include 'css.html' -%}
{%- endblock css -%}

{%- block header -%}
<h1 class="main-title">
    <span>{{'lists'| svg_icon('main_title_icon stroke')|safe}} {{title}}</span>
    <button id="members_show" data-rel="{{list.name}}" data-pk="{{list.public_key}}">{{n_members}} Members {{'edit'| svg_icon('icon-sm')|safe}}</button>
</h1>
{%- endblock header -%}

{%- block content -%}
<div id="feed">
{%- include 'feed/feed.items.html' -%}
</div>
{%- endblock content -%}

{%- block right_content -%}
<div>
    <div class="card">
        {%- include 'lists.list.html' -%}
    </div>
</div>
{%- endblock right_content -%}
