<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href='/static/styles.css' />
  <script src="/static/login.js"></script>
  <title>{{ title }}</title>
</head>

<body>
<div class="main">
    <h1>Login</h1>

        {%- if message -%}
        <p class="alert">{{message}}</p>
        {%- endif -%}
        <form method="post" action="/login">

        {%- if stage == LoginState.SETUP -%}
            <div class="step1">
                <div class="card profileloader setup">
                    <input type="button" class="setup fresh" value="Create a fresh account">
                </div>
                <div class="card profileloader setup">
                    <p>Already have a profile you want to use?</p>
                    <p class="sm">Enter your key (either hex or npub format)</p>
                    <input type="text" id="private_key" name="private_key"  placeholder="Private Key (leave blank to create a new one)">
                </div>
                <div><input type="button" class="setup right" value="Continue"></div>
            </div>
            <div class="pw_form">
                <div class="card profileloader ">
                    <p>Add a login password. This will also encrypt your private key on disk.</p>
                    <input type="password" id="password" name="password"  placeholder="Password">
                </div>
                <div><input type="submit" id="load_private_key" name="load_private_key" class="right" value="Continue"></div>
            </div>
        {%- elif stage == LoginState.WITH_PASSWORD -%}
            <div class="card profileloader">
            <input type="password" id="pw" name="pw" placeholder="Saved password (this is not your private key)">

            </div>
            <div><input type="submit" id="login" name="login" class="right" value="Login"></div>

        {%- elif stage == LoginState.SET_RELAYS -%}
            <div class="card profileloader">
            <p>In order to connect to the network you'll need to add at least 1 relay. You can add to and update your relay list at any time on the settings tab.</p>
            <p>For your convenience below you will find handful of relays that the author has found to be reliable. Bija is not however associated with any of these.</p>
            {%- for relay in data -%}
                <div>
                  <label><input type="checkbox" name="relay" class="relay_cb" value="{{relay}}">{{relay}}</label>
                </div>
            {%- endfor -%}
                <input type="text" name="custom_relay" placeholder="wss://">

            </div>
            <div><input type="submit" id="add_relays" name="add_relays" class="right" value="Add relays and continue"></div>

        {%- elif stage == LoginState.NEW_KEYS -%}
            <div class="card profileloader">
                <p><strong>Profile created! </strong></p>
                <p class="sm">* You can add other details, like name and description, on the profile page once you've completed setup.</p>
            </div>
            <div class="card profileloader">
                <h3>Public Key:  </h3>
                <p>Share your public key with friends so that they can find you on the network.</p>
                <p class="bg2 pad-tiny"><span class="tag">npub</span> {{data['npub']}}</p>

                <h3>Private Key:  </h3>
                <p class="bg2 pad-tiny"><span class="tag">nsec</span> {{data['nsec']}}</p>

            </div>
            <div><input type="submit" id="confirm_new_keys" name="confirm_new_keys" class="right" value="I've backed up my mnemonic, continue"></div>
        {%- endif -%}
        </form>
        <div class="card bg2">
            <h1>Welcome to Bija!</h1>
            <p>Please be aware that this is an alpha release of experimental software, is provided as is, and without any implication of warranty or liability.</p>
            <hr>
            <p>If you would like to support my work then please consider sending a donation with bitcoin/lightning.</p>
            <p class="sm"><span class="tag">Lightning Address</span>topliquor87@walletofsatoshi.com</p>
            <p class="sm"><span class="tag">On Chain</span>bc1qawh3jreepchfw5nmfm9qpxdyla4dx0kynfnv27</p>
            <hr>
            <p>Feel free to follow me on Nostr:</p>
            <p class="sm"><span class="tag">Nip-05</span>CarlosAutonomous@rebelweb.co.uk</p>
            <p class="sm"><span class="tag">npub</span>npub1qqqqqqqut3z3jeuxu70c85slaqq4f87unr3vymukmnhsdzjahntsfmctgs</p>
        </div>
    </div>

</div>

</body>
</html>