<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href='/static/styles.css' />
  <script src="/static/login.js"></script>
  <title>{{ title }}</title>
</head>

<body>
<div class="main">
    <h1>Login</h1>

        {%- if message -%}
        <p class="alert">{{message}}</p>
        {%- endif -%}
        <form method="post" action="/login">

        {%- if stage == LoginState.SETUP -%}
            <div class="step1">
                <div class="card profileloader setup">
                    <input type="button" class="setup fresh" value="Create a fresh account">
                </div>
                <div class="card profileloader setup">
                    <p>Already have a profile you want to use?</p>
                    <p class="sm">Enter your key (either hex or npub format)</p>
                    <input type="text" id="private_key" name="private_key"  placeholder="Private Key (leave blank to create a new one)">
                    <p>OR enter your mnemonic.</p>
                    <textarea name="mnemonic" placeholder="24 word mnemonic phrase"></textarea>


                </div>
                <div><input type="button" class="setup right" value="Continue"></div>
            </div>
            <div class="pw_form">
                <div class="card profileloader ">
                    <p>Add a login password. This will also encrypt your private key on disk.</p>
                    <input type="password" id="password" name="password"  placeholder="Password">
                </div>
                <div><input type="submit" id="load_private_key" name="load_private_key" class="right" value="Continue"></div>
            </div>
        {%- elif stage == LoginState.WITH_PASSWORD -%}
            <div class="card profileloader">
            <input type="password" id="pw" name="pw" placeholder="Saved password (this is not your private key)">

            </div>
            <div><input type="submit" id="login" name="login" class="right" value="Login"></div>

        {%- elif stage == LoginState.SET_RELAYS -%}
            <div class="card profileloader">
            <p>In order to connect to the network you'll need to add at least 1 relay. You can add to and update your relay list at any time on the settings tab.</p>
            <p>For your convenience below you will find handful of relays that the author has found to be reliable. Bija is not however associated with any of these.</p>
            {%- for relay in data -%}
                <div>
                  <label><input type="checkbox" name="relay" class="relay_cb" value="{{relay}}">{{relay}}</label>
                </div>
            {%- endfor -%}
                <input type="text" name="custom_relay" placeholder="wss://">

            </div>
            <div><input type="submit" id="add_relays" name="add_relays" class="right" value="Add relays and continue"></div>

        {%- elif stage == LoginState.NEW_KEYS -%}
            <div class="card profileloader">
                <p><strong>Profile created! </strong></p>
                <p class="sm">* You can add other details, like name and description, on the profile page once you've completed setup.</p>
            </div>
            <div class="card profileloader">
                <h3>Public Key:  </h3>
                <p>Share your public key with friends so that they can find you on the network.</p>
                <p class="bg2 pad-tiny"><span class="tag">npub</span> {{data['npub']}}</p>

                <h3>Private Key:  </h3>
                <p>Your mnemonic phrase is a representation of your private key. Back it up somewhere safe and never share it with anyone else.</p>
                <span class="tag">Mnemonic phrase</span>
                <span class="mnemonic pad-sm">{{data['mnem']}}</span>
                <p class="sm">* if you prefer other formats for your keys then you can refer to the settings page once logged in</p>

            </div>
            <div><input type="submit" id="confirm_new_keys" name="confirm_new_keys" class="right" value="I've backed up my mnemonic, continue"></div>
        {%- endif -%}
        </form>
    </div>
</div>

</body>
</html>