<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href='/static/styles.css' />
  <script src="/static/login.js"></script>
  <title>{{ title }}</title>
</head>

<body>
<div class="main">
    <h1>Login</h1>
    <div class="card profileloader">
        {%- if message -%}
        <p class="alert">{{message}}</p>
        {%- endif -%}
        <form method="post" action="/login">
        {%- if login_type == 2 -%}
            <input type="password" id="pw" name="pw" placeholder="Saved password (this is not your private key)">
            <input type="submit" id="login" name="login" value="Login">

        {%- elif login_type == 1 -%}
            <p>Enter a private key or create a new one to log in:</p>
            <input type="text" id="private_key" name="private_key"  placeholder="Private Key (leave blank to create new)">
            <div>
              <input type="checkbox"  id="save_key" name="save_key"><label for="save_key">Save key for easy login?</label>
            </div>

            <input type="password" id="password" name="password"  placeholder="Optional password to encrypt your key (you'll need this to login next time)">
            <input type="submit" id="load_private_key" name="load_private_key" value="Load profile">
        {%- elif login_type == 3 -%}
            <p>In order to connect to the network you'll need to add at least 1 relay. You can update your relays at any time on the settings tab.</p>
            {%- for relay in data -%}
                <div>
                  <input type="checkbox" name="relay" class="relay_cb" value="{{relay}}" checked><label>{{relay}}</label>
                </div>
            {%- endfor -%}
            <input type="submit" id="add_relays" name="add_relays" value="Add relays now">
        {%- elif login_type == 4 -%}
            <p>You generated a new private/public key pair. Make sure you back up the private key somewhere safe and never share it with anyone else.</p>
            <ul>
                <li style="color:green">Public Key: {{data['public']}} (share this with friends so they can find your account)</li>
                <li style="color:red">Private Key: {{data['private']}} (for your eyes only, this is the key to your private data)</li>
            </ul>
            <input type="submit" id="confirm_new_keys" name="confirm_new_keys" value="Continue">
        {%- endif -%}
        </form>
    </div>
</div>

</body>
</html>