{%- extends "base.html" -%}
{%- block css -%}
{%- include 'css.html' -%}
{%- endblock css -%}

{%- block content -%}
<button id="mark_all_read" class="right">Mark all read</button>
{%- for message in messages: -%}

{%- if message.pic is not none and message.pic|length > 0  -%}
    {%- set pic=message.pic -%}
{%- else -%}
    {%- set pic="/identicon?id="+message.public_key -%}
{%- endif -%}

{%- if message['name'] is not none and message['name']|length > 0  -%}
    {%- set name=message.name -%}
{%- else -%}
    {%- set name=(message.public_key | truncate(21, False, '...')) -%}
{%- endif -%}

{%- if message.is_sender==1 -%}
    {%- set sender=message.name -%}
{%- else -%}
    {%- set sender="You" -%}
{%- endif -%}

<a class="msg-link" href="/message?pk={{message.public_key}}">
    <div class="msg-profile-pic">
        <img class="user-image" src='{{pic}}'>
        {%- if message.n>0 -%}
        <span class="unseen">{{message.n}}</span>
        {%- endif -%}
    </div>
    <div class="msg-profile">
        <div class="msg-profile-name">{{name}}</div>
        <div class="msg-profile-last-message sm"><strong>Last message:</strong> {{sender}} {{message.last_message|dt}} </div>
    </div>

</a>

{%- endfor -%}
<div class="archive_fetcher">
    <label>Fetch older messages: </label>
    <select id="fetch_archived">
        <option value="n">-- Select timeframe --</option>
        <option value="w">1 week</option>
        <option value="m">1 month</option>
        <option value="y">1 year</option>
        <option value="a">All time</option>
    </select>
    <div class="loading">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        <div>Found <span class="n_fetched" data-active="0"></span> new notes</div>
    </div>
</div>
{%- endblock content -%}