{%- for message in messages: -%}

{%- if message['name'] is not none -%}
    {%- set name=message.name -%}
{%- else -%}
    {%- set name=(message.public_key | truncate(21, False, '...')) -%}
{%- endif -%}

{%- if message.is_sender -%}
    {%- if message.pic is not none and message.pic|length > 0 -%}
        {%- set pic=message.pic -%}
    {%- else -%}
        {%- set pic="/identicon?id="+message.public_key -%}
    {%- endif -%}
    {%- set sender=message.name -%}
    {%- set class='them' -%}
{%- else -%}
    {%- if me.pic is not none -%}
        {%- set pic=me.pic -%}
    {%- else -%}
        {%- set pic="/identicon?id="+me.public_key -%}
    {%- endif -%}
    {%- set sender="You" -%}
    {%- set class='me' -%}
{%- endif -%}

<div class="msg {{class}}" data-dt="{{message['created_at']}}">
    <div class="msg-profile-pic"><img src='{{pic}}'></div>
    <div class="msg-profile">
        <div class="speech-bubble">
            <div>{{message.content|decr(message.public_key, privkey)}}</div>
        </div>
        <p class="dt">{{message['created_at']|dt}}</p>
    </div>

</div>

{%- endfor -%}