{%- extends "base.html" -%}
{%- block css -%}
{%- include 'css.html' -%}
{%- endblock css -%}

{%- block content -%}
{%- if inbox  -%}
    <h1>{{'messages'| svg_icon('icon-lg')|safe}} Inbox <button id="mark_all_read" class="right">Mark all read</button></h1>
{%- else -%}
    <h1>{{'messages'| svg_icon('icon-lg')|safe}} Junk <button id="empty_junk" class="right">Empty</button></h1>
{%- endif -%}
    <hr>
<div class="archive_fetcher">
    <label>Fetch older messages: </label>
    <select id="fetch_archived">
        <option value="n">-- Select timeframe --</option>
        <option value="w">1 week</option>
        <option value="m">1 month</option>
        <option value="y">1 year</option>
        <option value="a">All time</option>
    </select>
    <div class="loading">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        <div>Found <span class="n_fetched" data-active="0"></span> new notes</div>
    </div>
</div>
<hr>
{%- for message in messages: -%}


{%- if message.is_sender==1 -%}
    {%- set sender="right-arrow"| svg_icon('icon-sm') -%}
{%- else -%}
    {%- set sender="left-arrow"| svg_icon('icon-sm') -%}
{%- endif -%}

<div class="msg-link">
    <div class="msg-profile-pic">
        {%- with p=message -%}
        {%- include 'profile/profile.image.html' -%}
        {%- endwith -%}
        {%- if message.n>0 -%}
        <span class="unseen">{{message.n}}</span>
        {%- endif -%}
    </div>
    <div class="msg-profile">
        <div class="msg-profile-name">{{message['name'] | ident_string(message['display_name'], message['public_key']) | safe }}</div>
        <a class="msg-preview" href="/message?pk={{message.public_key}}">{{message.content|decr(message.public_key, privkey)| truncate(60, False, '...')}} </a>
        <div class="msg-profile-last-message sm right"> {{sender|safe}} {{message.last_message|dt}} </div>
    </div>

</div>

{%- endfor -%}

{%- endblock content -%}

{%- block right_content -%}
<div>
    <ul class="card">
        <li><a href="/messages">Inbox</a></li>
        <li><a href="/messages?junk=1">Junk {%- if n_junk > 0 -%}<span class="tag">{{n_junk}}</span>{%- endif -%}</a></li>
    </ul>
</div>
{%- endblock right_content -%}
