
<div class="note" data-dt="{{note['created_at']}}" data-processed="0" data-id="{{note['id']}}">
    <h3>
        {%- set fim = '' -%}
        {%- if note['following'] is not none and note['following']==1 -%}
        {%- set fim = '<img src="/static/following.svg" title="following" class="icon"> ' -%}
        {%- endif -%}
        <a href="/profile?pk={{note['public_key']}}" class="profile-name">{{fim| safe}}{{note['name'] | ident_string(note['public_key'], note['nip05'], note['nip05_validated']) | safe }}</a>
        <span class="note-info">
            <span class="sm dt" data-ts="{{note['created_at']}}">
                {{note['created_at']|dt}}
            </span>
            <span class="note-opts" data-id="{{note['id']}}">
                <img src="/static/note-tools.svg" class="icon">
                <ul class="opts-menu rnd pad-sm">
                    {%- if note['public_key'] == pubkey -%}
                    <li data-action="del" class="pad-tiny">delete</li>
                    {%- endif -%}
                    <li data-action="share" class="pad-tiny">share</li>
                    <li data-action="nfo" class="pad-tiny">info</li>
                </ul>
            </span>
        </span>
    </h3>
    <div class="note-content" data-rel="{{reply_chain.root}}" data-id="{{note['id']}}">
        <pre>{{note['content'] | process_note_content |safe}}</pre>
        <div class="note-media">{{note['media'] | process_media_attachments | safe}}</div>
        {%- if note['reshare'] is not none -%}
            {%- if note['reshare'] is string -%}
                <div class="note-container placeholder sm" data-id="{{note['reshare']}}">Event not yet seen on network ({{note['reshare']}})</div>
            {%- else -%}
            {%- with item = note['reshare'], is_reshare = true -%}
            {%- include 'thread.item.html' -%}
            {%- endwith -%}
            {%- endif -%}
        {%- endif -%}
    </div>
    {%- if not is_reshare -%}
    {%- include 'note.reply_form.html' -%}
    {%- endif -%}
</div>