<p><span class="reply-n"></span> replies<a href="#" class="reply-link right" data-rel="{{post['id']}}">&#128172;</a></p>
<form class="reply-form"  data-noteid="{{post['id']}}" >
    <input type="hidden" name="pubkey" value="{{post['public_key']}}">
    <input type="hidden" name="thread_root" value="{{thread_root}}">
    <input type="hidden" name="parent_id" value="{{post['id']}}">
    <textarea name="reply"></textarea>
    <input type="submit" value="post" data-reply-submit="1" data-rel="{{post['id']}}">
</form>
