
<div class="note" data-dt="{{note['created_at']}}" data-processed="0">
    <h3>
        {%- set fim = '' -%}
        {%- if note['following'] is not none and note['following']==1 -%}
        {%- set fim = ' <img src="/static/following.svg" class="icon-sm" title="following"> ' -%}
        {%- endif -%}
        <a href="/profile?pk={{note['public_key']}}" class="profile-name">{{note['name'] | ident_string(note['public_key'], note['nip05'], note['nip05_validated']) | safe }}{{fim| safe}}</a>
        <span class="note-info">
            <span class="sm dt">
                {{note['created_at']|dt}}
            </span>
            <span class="note-opts" data-id="{{note['id']}}">
                <img src="/static/note-tools.svg">
                <ul class="opts-menu">
                    {%- if note['public_key'] == profile['public_key'] -%}
                    <li data-action="del">delete</li>
                    {%- endif -%}
                    <li data-action="share">share</li>
                    <li data-action="nfo">info</li>
                </ul>
            </span>
        </span>
    </h3>
    <div class="note-content" data-rel="{{reply_chain.root}}" data-id="{{note['id']}}">
        <pre>{{note['content'] |safe}}</pre>
        <div class="note-media">{{note['media'] | process_media_attachments | safe}}</div>
        {%- if note['reshare'] is not none -%}
            {%- if note['reshare'] is string -%}

            {%- else -%}
            {%- set item = note['reshare'] -%}
            {%- include 'thread.item.html' -%}
            {%- endif -%}
        {%- endif -%}
    </div>
    {%- include 'note.reply_form.html' -%}
</div>