{%- if passed -%}
<p>
    <span class="tag">Mnemonic phrase</span> <span class="sm">(preferred)</span>
    <span class="mnemonic pad-sm">{{k['private'][2]}}</span>
</p>
<p class="key-box">
    <span class="tag">nsec</span>
    <span class="key">{{k['private'][1]}}</span>
    <img src="/static/copy.svg" class="clipboard icon-sm" data-str="{{k['private'][1]}}">
</p>
<p class="key-box">
    <span class="tag">HEX</span>
    <span class="key">{{k['private'][0]}}</span>
    <img src="/static/copy.svg" class="clipboard icon-sm" data-str="{{k['private'][0]}}">
    <span class="sm desktop-only">(old style)</span>
</p>
{%- else -%}
<p>Please enter your password</p>
<form id="reveal_pk">
    <input type="password" class="acct_pw" name="pw" placeholder="password"><button class="reveal_pk">Show me</button>
</form>
{%- endif -%}