{% if profile is not none %}

{% if profile['about'] is not none %}
    {% set about=profile['about'] %}
{% else %}
    {% set about='' %}
{% endif %}

{% if profile['updated_at'] is not none %}
    {% set updated_at=profile['updated_at'] %}
{% else %}
    {% set updated_at='0' %}
{% endif %}

<div class="profile" id="profile" data-updated_ts="{{updated_at}}" data-pk="{{profile['public_key']}}">
    <div class="profile-tools">
        {% include 'profile.tools.html' %}
    </div>
    <div class="profile-image profile-item">
        {% set p=profile %}
        {% include 'profile.image.html' %}
    </div>
    <div class="profile-details profile-item">
        <h1 class="profile-name">{{profile['name'] | ident_string(profile['public_key'], profile['nip05'], profile['nip05_validated']) | safe }}</h1>
        <p class="sm pk">@{{profile['public_key'] | truncate(21, False, '...')}}</p>
        <pre class="profile-about">{{about}}</pre>
    </div>
    {% if is_me %}
        {% if profile['name'] is not none %}
            {% set pname=profile['name'] %}
        {% else %}
            {% set pname="" %}
        {% endif %}
        {% if profile['pic'] is not none %}
            {% set pic_url=profile['pic'] %}
        {% else %}
            {% set pic_url='' %}
        {% endif %}
    <form id="profile_updater" data-vis="0">
        <input type="text" id="pname" name="name" class="pname" value="{{pname}}">
        <label for="pmsg">About</label>
        <textarea name="about" id="pmsg" rows="10" cols="30">{{about}}</textarea>
        <label for="pim">Image URL</label>
        <input type="text" id="pim" name="picture" value="{{pic_url}}">
        <input type="text" id="nip5" name="nip05" value="{{profile['nip05']}}">
        <input type="submit" id="pupd" name="pupd" value="Update">
    </form>
    {% endif %}
</div>
<div class="profile-menu">
    {% if is_me %}
        <a href="/profile">posts</a>
        <a href="/following">following</a>
    {% else %}
        <a href="/profile?pk={{profile['public_key']}}">posts</a>
       <a href="/following?pk={{profile['public_key']}}">following</a>
    {% endif %}
</div>
{% endif %}

