{%- if profile is not none -%}

{%- if profile['about'] is not none -%}
    {%- set about=profile['about'] -%}
{%- else -%}
    {%- set about='' -%}
{%- endif -%}

{%- if profile['updated_at'] is not none -%}
    {%- set updated_at=profile['updated_at'] -%}
{%- else -%}
    {%- set updated_at='0' -%}
{%- endif -%}

<div class="profile rnd" id="profile" data-updated_ts="{{updated_at}}" data-pk="{{profile['public_key']}}">
    <div class="profile-tools">
        {%- include 'profile.tools.html' -%}
    </div>
    <div class="profile-image profile-item">
        {%- with p=profile -%}
        {%- include 'profile.image.html' -%}
        {%- endwith -%}
    </div>
    <div class="profile-details profile-item">
        <h1 class="profile-name">{{profile['name'] | ident_string(profile['public_key'], profile['nip05'], profile['nip05_validated']) | safe }}</h1>
        <p class="sm pk">@{{profile['public_key'] | truncate(21, False, '...')}}
			<img src="/static/user.svg"
				 data-src="{{profile['public_key']}}"
				 data-srcset="{{profile['public_key']}}"
				 class="lazy-load clipboard icon-sm"
				 data-str="{{profile['public_key']}}"/>
		</p>
        <pre class="profile-about">{{about| linkify| safe}}</pre>
        {%- for item in meta: -%}
        <p><span class="sm rnd pad-sm bg1"> {{ item }}</span><span class="sm pad-sm">{{ meta[item] }}</span></p>
        {%- endfor -%}
    </div>
    {%- if is_me and page_id == 'profile-me' -%}
        {%- if profile['name'] is not none -%}
            {%- set pname=profile['name'] -%}
        {%- else -%}
            {%- set pname="" -%}
        {%- endif -%}
        {%- if profile['pic'] is not none -%}
            {%- set pic_url=profile['pic'] -%}
            {%- set pic=profile['pic'] -%}
        {%- else -%}
            {%- set pic_url='' -%}
            {%- set pic="/identicon?id="+pubkey -%}
        {%- endif -%}
    <form id="profile_updater" data-vis="0">
        <label for="pname" class="sm">Handle</label>
        <input type="text" id="pname" name="name" class="pname" value="{{pname}}">

        <label for="pmsg" class="sm">About</label>
        <textarea name="about" id="pmsg" rows="10" cols="30">{{about}}</textarea>


        <label for="pim" class="sm">Image URL</label>
        <div class="pim-up">
            <label class="note-image"><input type="file" class="profile-img-up" style="display: none;"><img src="{{ pic }}" class="user-image"></label>
            <input type="text" id="pim" name="picture" value="{{pic_url}}">
        </div>

        <label for="pnip5" class="sm">Nip05 identifier</label>
        <input type="text" id="pnip5" name="nip05" value="{{profile['nip05']}}">

        <label for="pwebsite" class="sm">Website</label>
        <input type="text" id="pwebsite" name="website" value="{{meta['website']}}">

        <label for="plud06" class="sm">LNURL</label>
        <input type="text" id="plud06" name="lud06" value="{{meta['lud06']}}">

        <label for="plud16" class="sm">Lightning address</label>
        <input type="text" id="plud16" name="lud16" value="{{meta['lud16']}}">

        <input type="submit" id="pupd" name="pupd" value="Update">
    </form>
    {%- endif -%}
</div>
<div class="profile-menu rnd">
    {%- if is_me -%}
        <a href="/profile">posts</a>
        <a href="/following">following</a>
    {%- else -%}
        <a href="/profile?pk={{profile['public_key']}}">posts</a>
       <a href="/following?pk={{profile['public_key']}}">following</a>
    {%- endif -%}
</div>
{%- endif -%}

