<div class="poster-form">
    <div class="pic">
        {% include 'profile.image.html' %}
    </div>
    <form id="quote_form">
        <input type="hidden" name="quote_id" value="{{id}}">
        <textarea name="comment" placeholder="Add a comment to your re-post"></textarea>
        <input type="submit" value="Share" class="right post-submit">
    </form>
</div>

<div class="note-container">
    <div class="thread-marker"></div>
    <div class="note-image">
        {% set p=item %}
        {% include 'profile.image.html' %}
    </div>
    <div class="note-outer">
    {% set note=item %}
    {% include 'note.html' %}
    </div>
</div>