<div class="poster-form rnd pad-mid">
    <div class="pic pad-sm">
        {%- set p=profile -%}
        {%- include 'profile/profile.image.html' -%}
    </div>
    <form id="quote_form">
        <input type="hidden" name="quote_id" value="{{id}}">
        <textarea name="comment" class="note-textarea" placeholder="Add a comment to your re-post"></textarea>
        <div class="name-hints"></div>
         <div class="toolbar">
            <input type="submit" value="Share" class="right post-submit pad-sm">
            <span>{{'emoji'| svg_icon('icon-lg emojis')|safe}}</span>
        </div>
    </form>
</div>

<div class="note-container">
    <div class="thread-marker"></div>
    <div class="note-image">
        {%- set p=item -%}
        {%- include 'profile/profile.image.html' -%}
    </div>
    <div class="note-outer">
    {%- set note=item -%}
    {%- set reply_chain={'root':'','reply':''} -%}
    {%- include 'note.html' -%}
    </div>
</div>