{%- extends "base.html" -%}
{%- block css -%}
{%- include 'css.html' -%}
{%- endblock css -%}

{%- block header -%}
<h1 class="main-title">
    <span>{{'settings'| svg_icon('main_title_icon fill')|safe}} Settings:</span>
</h1>
{%- endblock header -%}

{%- block content -%}
<div class="card themer">
    <h3>Theme</h3>
    <form id="theme_form">
        <p>
            <select name="theme">
            {%- for t in themes: -%}
                {%- if t.theme == theme -%}
                <option selected>{{t.theme}}</option>
                {%- else -%}
                <option>{{t.theme}}</option>
                {%- endif -%}
            {%- endfor -%}
        </select>
        </p>
    </form>
</div>
<div class="card styles">
    <h3>Other style settings</h3>
    <form id="style_form">
        <p>
            <input type="range" min="10" max="24" value="{{theme_settings['fs-base']}}" class="slider" data-v="fs-base" name="fs-base" id="style_fs"> <label>Font size</label>
            <div class="demo" data-rel="fs-base">
                <span class="sm">Small text</span><br>
                <span class="mid">Medium text</span><br>
                <span class="lg">Large text</span>
            </div>
        </p>
        <p>
            <input type="range" min="0" max="12" value="{{theme_settings['rnd']}}" class="slider" data-v="rnd"  name="rnd" id="style_rnd"> <label>Rounded corners</label>
            <div class="demo" data-rel="rnd">
                <div class="rnd rnd-sm">Small</div>
                <div class="rnd rnd-mid">Medium</div>
                <div class="rnd rnd-lg">Large</div>
            </div>
        </p>
        <p>
            <input type="range" min="1" max="15" value="{{theme_settings['spacing']}}" class="slider" data-v="spacing" name="spacing" id="style_spacing"> <label>Spacing</label>
            <div class="demo" data-rel="spacing">
                <span class="spacing spacing-sm">Small </span>
                <span class="spacing spacing-mid">Medium</span><br>
                <span class="spacing spacing-lg">Large</span>
            </div>
        </p>
        <p>
            <input type="range" min="6" max="24" value="{{theme_settings['icon']}}" class="slider" data-v="icon" name="icon" id="style_icons"> <label>Icon size</label>
            <div class="demo" data-rel="icon">
                {{'emoji'| svg_icon('icon-sm')|safe}}
                {{'emoji'| svg_icon('icon-mid')|safe}}
                {{'emoji'| svg_icon('icon-lg')|safe}}
            </div>
        </p>
        <p>
            <input type="range" min="15" max="80" value="{{theme_settings['pfp-dim']}}" class="slider" data-v="pfp-dim" name="pfp-dim" id="style_pfp"> <label>Profile image size</label>
            <div class="demo" data-rel="pfp-dim">
                {{'profile'| svg_icon('pfp pfp-sm')|safe}}
                {{'profile'| svg_icon('pfp pfp-mid')|safe}}
                {{'profile'| svg_icon('pfp pfp-lg')|safe}}
            </div>
        </p>
        <button class="update_styles">Save</button> <button class="default_styles">Reset to defaults</button>
    </form>
</div>
<div class="card keys">
    <h3>Keys</h3>
    <h4>Public key:</h4>
    <p class="sm">Share your public key with contacts so that they can find and connect with you on Nostr.</p>
    <p class="key-box">
        <span class="tag">npub</span>
        <span class="key">{{k['public'][1]}}</span>
        <img src="/static/copy.svg" class="clipboard icon-sm" data-str="{{k['public'][1]}}">
        <span class="sm desktop-only">(preferred)</span>
    </p>
    <p class="key-box">
        <span class="tag">HEX</span>
        <span class="key">{{k['public'][0]}}</span>
        <img src="/static/copy.svg" class="clipboard icon-sm" data-str="{{k['public'][0]}}">
        <span class="sm desktop-only">(old style)</span>
    </p>
    <hr>
    <h4>Private key: </h4>
    <p class="sm">Keep your private key backed up somewhere secure and never share it with anyone else.</p>
    <button class="show-key img-btn"><span>Click to reveal</span>  <img src="/static/eye.svg" class="icon-lg"></button>
    <div class="privkey pad-mid rnd">

    </div>
</div>
<div class="card">
    <h3>Relays</h3>
    <div id="relays_list">
    {%- include 'relays.list.html' -%}
    </div>
    <button class="refresh_connections">reset connections</button>
</div>

<div class="card">
    <h3>Proof of work</h3>
    <form id="pow_cfg">
        <p class="sm">
            <input name="pow_default"  type="number" min="0" step="1" value="{{settings['pow_default']}}">
            Default difficulty for notes <strong>you create</strong>
        </p>
        <p class="sm">
            <input name="pow_default_enc"  type="number" min="0" step="1" value="{{settings['pow_default_enc']}}">
            Default difficulty for encrypted messages <strong>you create</strong>
        </p>
        <hr>
        <p class="sm">
            <input name="pow_required"  type="number" min="0" step="1" value="{{settings['pow_required']}}">
            Required difficulty for <strong>incoming</strong> notes from unknown accounts
        </p>
        <p class="sm">
            <input name="pow_required_enc"  type="number" min="0" step="1" value="{{settings['pow_required_enc']}}">
            Required difficulty for <strong>incoming</strong> encrypted messages from unknown accounts
        </p>
        <input type="button" id="upd_pow" class="right" value="Update">
    </form>
</div>

<div class="card">
    <h3>Cloudinary</h3>
    <p>Add media uploads to your posts by adding a cloudinary account.</p>
    <p>You'll need the name of your cloud and the name of an upload preset (create one in the Uploads section of your Cloudinary settings)</p>
<form id="cloudinary_cfg">
    <input type="text" name="cloudinary_cloud" placeholder="cloud name" value="{{settings['cloudinary_cloud'] or ''}}">
    <input type="text" name="cloudinary_upload_preset" placeholder="upload preset" value="{{settings['cloudinary_upload_preset'] or ''}}">
    <input type="button" id="upd_cloudinary" class="right" value="Update/add">
</form>
</div>

<div class="card">
<form method="post" action="/settings">
    <input type="button" name="del_keys" id="del_keys" class="right" value="Delete this account">
</form>
</div>
{%- endblock content -%}