{%- extends "base.html" -%}

{%- block content -%}
<div class="card">
    <h3>Keys</h3>
    <h4>Public key:</h4>
    <p class="sm">Share your public key with contacts so that they can find and connect with you on Nostr.</p>
    <p>
        <span class="key-format">npub</span> {{k['public'][1]}} <img src="/static/copy.svg" class="clipboard" data-str="{{k['public'][1]}}"> <span class="sm">(preferred)</span>
        <br>
        <span class="key-format">HEX</span> {{k['public'][0]}} <img src="/static/copy.svg" class="clipboard" data-str="{{k['public'][0]}}"> <span class="sm">(old style)</span>
    </p>
    <h4>Private key: <img src="/static/eye.svg" class="show-key"></h4>
    <p class="sm">Keep your private key backed up somewhere secure and never share it with anyone else.</p>
    <p class="privkey">
        <span class="key-format">nsec</span> {{k['private'][1]}} <img src="/static/copy.svg" class="clipboard" data-str="{{k['private'][1]}}"> <span class="sm">(preferred)</span>
        <br>
        <span class="key-format">HEX</span> {{k['private'][0]}} <img src="/static/copy.svg" class="clipboard" data-str="{{k['private'][0]}}"> <span class="sm">(old style)</span>
    </p>

    <form method="post" action="/settings">
        <input type="button" name="del_keys" id="del_keys" class="right" value="Delete these keys">
    </form>
</div>
<div class="card">
    <h3>Relays</h3>
    <ul>
    {%- for relay in relays: -%}
        <li class="relay" data-url="{{relay.name}}"><span class="led"></span>{{relay.name}}<button class="del-relay">x</button></li>
    {%- endfor -%}
    </ul>
    <button class="refresh_connections">reset connections</button>
    <form id="relay_adder">
        <input type="text" id="newrelay" name="newrelay" class="newrelay" placeholder="wss://">
        <input type="submit" id="addrelay" name="addrelay" class="right" value="+">
    </form>
</div>
{%- endblock content -%}