{% extends "base.html" %}

{% block content %}

<div class="card">
    <h3>Profile</h3>
    <form method="post" id="profile_updater" action="/settings">
        <input type="text" id="pname" name="name" class="pname" value="{{profile['name']}}">
        <label for="pmsg">About</label>
        <textarea name="about" id="pmsg" rows="10" cols="30">{{profile['about']}}</textarea>
        <label for="pim">Image URL</label>
        <div class="im-settings-container">
            <img src="{{profile['pic']}}" id="ppic" />
            <input type="text" id="pim" name="picture" value="{{profile['pic']}}">
        </div>

        <input type="submit" id="pupd" name="pupd" value="Update">
    </form>
    <h3>Relays</h3>
    <form method="post" action="/settings">
        <input type="text" id="newrelay" name="newrelay" class="newrelay" placeholder="wss://">
        <input type="submit" id="addrelay" name="addrelay" value="+">
    </form>
</div>
{% endblock content %}