{%- set reply_chain = item['thread_root'] | get_thread_root(item['response_to'], item['id']) -%}
{%- if item['current'] -%}
<a id="focussed"></a>
{%- endif -%}
{%- if item['deleted'] -%}
{%- include 'deleted.note.html' -%}
{%- else -%}
<div class="note-container {{ item['class'] }}" data-id="{{item['id']}}" data-root="{{item['thread_root'] or ''}}" data-parent="{{item['response_to'] or ''}}">
    <div class="thread-marker"></div>
    <div class="note-image">
        {{item['nip05'] | nip05_valid(item['nip05_validated']) | safe }}
        {%- set p=item -%}
        {%- include 'profile/profile.image.html' -%}
    </div>
    <div class="note-outer">
    {%- set note=item -%}
    {%- include 'note.html' -%}
    </div>
</div>
{%- endif -%}