{% if item['thread_root'] is not none %}
{% set thread_root=item['thread_root'] %}
{% elif item['response_to'] is not none %}
{% set thread_root=item['response_to'] %}
{% else %}
{% set thread_root=item['id'] %}
{% endif %}

{% if item['thread_root'] is none and item['response_to'] is none %}
{% set parent='' %}
{% elif item['response_to'] is not none and item['thread_root'] is none %}
{% set parent=item['response_to'] %}
{% elif item['thread_root'] is not none and item['response_to'] is none %}
{% set parent=item['thread_root'] %}
{% else %}
{% set parent=item['response_to'] %}
{% endif %}

{% if item['deleted'] is none %}
<div class="note-container" data-rel="{{thread_root}}" data-id="{{item['id']}}" data-parent="{{parent}}">
    <div class="thread-marker"></div>
    <div class="note-image">
        {% set p=item %}
        {% include 'profile.image.html' %}
    </div>
    <div class="note-outer">
    {% set note=item %}
    {% include 'note.html' %}
    </div>
</div>
{% else %}
<div class="note-container deleted" data-rel="{{thread_root}}" data-id="{{item['id']}}" data-parent="{{parent}}">
    <div class="thread-marker"></div>
    <div class="note-image">
        <img src="/static/user.svg" class="user-image" />
    </div>
    <div class="note-outer">
    <div class="note-content" data-rel="{{thread_root}}" data-id="{{item['id']}}">
        <pre>This note was deleted by the author:
        Reason given: [{{item['content'] |safe}}]</pre>
    </div>
    </div>
</div>
{% endif %}