{%- extends "base.html" -%}
{%- block css -%}
{%- include 'css.html' -%}
{%- endblock css -%}

{%- block content -%}
<h2 class="posts-title">Thread:</h2>
<div id="thread-items">
{%- if root is not none -%}
    {%- if root is string -%}
        {%- with id=root -%}
        {%- include 'thread.placeholder.html' -%}
        {%- endwith -%}
    {%- else -%}
        {%- with item=root -%}
        {%- include 'thread.item.html' -%}
        {%- endwith -%}
    {%- endif -%}
{%- endif -%}

{%- if parent is not none -%}
    {%- if parent is string -%}
        {%- with id=parent -%}
        {%- include 'thread.placeholder.html' -%}
        {%- endwith -%}
    {%- else -%}
        {%- if parent['response_to'] is not none -%}
        <div class="note-container connector">
            <div class="thread-marker"></div>
            <div class="note-image"></div>
            <a href="#" data-rel="{{parent['response_to']}}" class="load_more">{{'up'| svg_icon('icon-sm')|safe}} Load more</a>
        </div>
        {%- endif -%}
        {%- with item=parent -%}
        {%- include 'thread.item.html' -%}
        {%- endwith -%}
    {%- endif -%}
{%- endif -%}

{%- if note is not none -%}
    {%- if note is string -%}
        {%- with id=note -%}
        {%- include 'thread.placeholder.html' -%}
        {%- endwith -%}
    {%- else -%}
        {%- with item=note -%}
        {%- include 'thread.item.html' -%}
        {%- endwith -%}
    {%- endif -%}
{%- endif -%}

{%- for item in replies: -%}
    {%- if item is string -%}
        {%- with id=item -%}
        {%- include 'thread.placeholder.html' -%}
        {%- endwith -%}
    {%- else -%}
        {%- include 'thread.item.html' -%}
    {%- endif -%}

{%- endfor -%}
</div>



{%- endblock content -%}


{%- block right_content -%}
<h3 class="pad-tiny">in this thread</h3>
<div>
    <ul class="thread-members">
    {%- for p in members: -%}
        <li class="pad-mid">
        {%- include 'profile/profile.image.html' -%}
        <a href="/profile?pk={{p['public_key']}}" class="profile-name">{{p['name'] | ident_string(p['display_name'], p['public_key']) | safe }}</a>
        </li>
    {%- endfor -%}
    </ul>
</div>

{%- endblock right_content -%}