{%- extends "base.html" -%}
{%- block css -%}
{%- include 'css.html' -%}
{%- endblock css -%}

{%- block content -%}
<div id="thread-items" data-root="{{root}}">
{%- for item in notes: -%}
    {%- if item is string -%}
        <div class="note-container placeholder" data-id="{{item}}">
            <div class="note-image"><img src="/static/user.svg" class="user-image"></div>
            <div class="note-outer"><div class="note"><div class="pad-sm">Event: {{item}} not yet seen on network</div></div></div>
        </div>
    {%- else -%}
        {%- include 'thread.item.html' -%}
    {%- endif -%}
{%- endfor -%}
</div>
{%- endblock content -%}


{%- block right_content -%}
<h3 class="pad-tiny">in this thread</h3>
<ul class="thread-members">
{%- for p in members: -%}
    <li class="pad-mid">
    {%- include 'profile.image.html' -%}
    <a href="/profile?pk={{p['public_key']}}" class="profile-name">{{p['name'] | ident_string(p['display_name'], p['public_key']) | safe }}</a>
    </li>
{%- endfor -%}
</ul>
{%- endblock right_content -%}