{%- extends "base.html" -%}
{%- block css -%}
{%- include 'css.html' -%}
{%- endblock css -%}

{%- block content -%}
{%- if subscribed == 1 -%}
    {%- set btn_text = 'unsubscribe' -%}
{%- else -%}
    {%- set btn_text = 'subscribe' -%}
{%- endif-%}
<h2 class="posts-title topic-title">Recent activity in topic
    <span>#{{topic}}</span>
    <a href="#" class="topic-sub rnd-sm" data-state="{{subscribed}}" data-topic="{{topic}}">{{btn_text}}</a>
</h2>
<a href="#" id="new_topic_posts_btn" class="sm">Load new posts</a>
<div id="feed">
{%- include 'feed.items.html' -%}
</div>

{%- endblock content -%}

{%- block right_content -%}
{%- include 'topic.list.html' -%}
{%- endblock right_content -%}