{%- if data.profile.pic is not none -%}
    {%- set pic=data.profile.pic -%}
{%- else -%}
    {%- set pic="/identicon?id="+data.profile.public_key -%}
{%- endif -%}
<a href="{{ url_for('profile_page', pk=data['public_key']) }}">
    <div class="alert-image">
        <img class="user-image" src="{{pic}}">
    </div>
    <div class="alert-main">
        <div class="alert-title">
             <span class="sm">New follower detected </span><br>{{data.profile['name'] | ident_string(data.profile['display_name'], data.profile['public_key']) | safe }}
        </div>
    </div>
</a>