html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 5px 0 15px 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #151822;
  color: #fdffee;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

td, tr{
    padding: 5px;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #403e3e;
    background: #0c0d0e;
    color: #fffeee;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4044d9;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3538b9;
  color: #dddf90;
}

.profileloader input[type=submit] {
    width:18%;
    margin-left:2%;
    float:right;
}
.profileloader input[type=text] {
    width:80%;
}

input[type=text].pname {
    background-image: url(at.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 120%;
    font-weight: bold
}



.main {
  max-width:1000px;
  margin:auto;
}
.row{
    margin-top: 50px;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #040508;
    border-radius: 5px;
    border: 2px solid #29375e;
    border-top-width: 0;
    box-shadow: 5px 5px 7px 0px black;
    position: fixed;
    width: 1000px;
    top: 0;
    z-index: 100;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover, .topnav a:active{
    background-color: #18192a;
    color: #9896ff;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
    padding: 20px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid #253b6c;
}

.sm{
    font-size:10px;
    color: #ecffee;
}

.right{
    float: right;
}

.dt{
    color: #ccc;
}

.alert{
    background: yellow;
    color: red;
    padding: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.note-container{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #35353c;
}
.note-container > *{
    margin:10px;
}
.note-parent-container{
    display: flex;
    padding: 10px;
    overflow: hidden;
    position: relative;
}
.note-parent-container > *{
    margin:10px;
}

.note-image{
    flex: 0 0 60px;
}
.note-image img{
    width: 60px;
    border-radius:8px;
    overflow:hidden;
}

.thread-pointer{
    position: absolute;
    border: 2px dashed #636376;
    border-right: 0;
    width: 80px;
    border-radius: 20px;
    height: 1000px;
    margin-top: 10px;
    margin-left: 30px;
}

.is-parent{
    position: absolute;
    width: 2px;
    height: 1000px;
    background: #636376;
    margin-left: 40px;
    margin-top: 85px;
}

.note-container .is-parent{
    display:none;
}

.note-content{
    border-radius:8px;
    background: #070d22;
    padding:10px;
    white-space: pre-wrap;
}

#note-poster{
    position: fixed;
    width:230px;
}

.muted{
    font-size: 70%;
    filter: saturate(0.5);
    border-radius:8px;
    background: #070d22;
    padding:10px;
    width:fit-content;
}

.note{
    flex:1;
    overflow: hidden;
}

.note a{
    color: #4ec74c;
    text-decoration:none;
}
.note h3{
    margin-bottom:10px;
}

.reply-form{
    display:none;
}
#n_unseen_posts{
    font-size: 10px;
    background: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    min-width: 15px;
    height: 15px;
    padding: 2px;
    display: none;
}

.profile{
    padding: 30px;
    margin: 10px;
    background: #152148;
    border-radius: 20px;
    display: flex;
    border-bottom: 1px solid #4ec74c;
}
.profile-image {
    flex:0 0 120px;
}
.profile-image img{
    border-radius:20px;
}
.profile-details{
    padding: 0 20px;
}
.profile-details pre{
    white-space:pre-wrap;
}

.profile-details h1{
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
}
.sm.pk{
    color: #8d919f;
}
.profile-tools{
    text-align: right;
    padding: 5px 20px;
    margin-bottom: 30px;
}
.profile-tools a{
    text-decoration: none;
    padding: 5px;
    background: #070d22;
    border-radius: 8px;
    color: #4ec74c;
}
.posts-title{
    border-bottom: 1px solid #35353c;
    font-size: 12px;
    padding: 5px;
    color: #aaa;
}

.notify {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 400px;
    padding: 20px;
    background: #364c89;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    opacity: 0;
    animation: fadeInOut 3s linear;
    z-index: 400;
}


@keyframes fadeInOut {
  0%,100% { opacity: 0 }
  10%, 80% { opacity: 1 }
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}