<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href='/static/styles.css' />
  <script src="/static/page.js"></script>
  <title>{{ title }}</title>
</head>

<body>
<div class="main" data-page="{{title}}">
  <div class="topnav">
    <a href="/">Feed <span id="n_unseen_posts" class="unseen"></span></a>
    <a href="/profile">Profile</a>
    <a href="/messages">Messages <span id="n_unseen_messages" class="unseen"></span></a>
    <a href="#">Notifications</a>
    <a href="/settings">Settings</a>
    <a href="/keys">Keys</a>
  </div>

  <div class="row">
    <div class="leftcolumn" id="main-content">
      {% block content %}

      {% endblock content %}
    </div>
    <div class="rightcolumn">

      <div id="note-poster">
          <form method="post" action="/" id="new_post_form">
              <textarea name="new_post" id="new_post" placeholder="Say something..."></textarea>
              <input type="submit" name="new_post_submit" id="new_post_submit" value="Post">
          </form>
      </div>
      <div class="notices">

      </div>
    </div>
  </div>
</div>

</body>
</html>