{% for notes in threads: %}
{% for post in notes: %}

    {% if post['response_to'] is not none and post['response_to'] not in ids %}
    <div class="note-parent-container">
        <div class="note-image">
           <div class="thread-pointer"></div>
        </div>
        <div class="note">
            <div class="note-content muted"><a href="/note?id={{post['response_to']}}">{{post['response_to'] | truncate(21, False, '...')}}</a></div>
        </div>
    </div>
    {% endif %}

    {% if post['is_parent'] %}
    {% set container='note-parent-container' %}
    {% else %}
    {% set container='note-container' %}
    {% endif %}
    <div class="{{container}}">
        <div class="is-parent"></div>
        <div class="note-image">
            {% if post['pic'] is not none %}
            <img src="{{post['pic']}}" />
            {% else %}
            <img src="/identicon?id={{post['public_key']}}" />
            {% endif %}
        </div>
        <div class="note" data-dt="{{post['created_at']}}">
            <h3>
                {% if post['name'] is not none %}
                <a href="/profile?pk={{post['public_key']}}">{{post['name']}}</a>
                {% else %}
                <a href="/profile?pk={{post['public_key']}}">{{post['public_key'] | truncate(21, False, '...')}}</a>
                {% endif %}
                <span class="sm right dt">{{post['created_at']|dt}}</span>
            </h3>
            <pre class="note-content">{{post['content'] |safe}}<p><a href="/note?id={{post['id']}}">&gt;</a></p></pre>
            <p><a href="#" class="reply-link" data-rel="{{post['id']}}">reply</a></p>
            <form class="reply-form"  data-noteid="{{post['id']}}" >
                <input type="hidden" name="pubkey" value="{{post['public_key']}}">
                <input type="hidden" name="parent_id" value="{{post['id']}}">
                {% if post['thread_root'] is not none %}
                <input type="hidden" name="thread_root" value="{{post['thread_root']}}">
                {% endif %}
                <textarea name="reply"></textarea>
                <input type="submit" value="post" data-reply-submit="1" data-rel="{{post['id']}}">
            </form>
        </div>
    </div>

{% endfor %}
{% endfor %}
