{% extends "base.html" %}

{% block content %}
{% if profile is not none %}
<div class="profile">
    <div class="profile-image">
        {% if profile['pic'] is not none %}
            {% set profile_pic=profile['pic'] %}
        {% else %}
            {% set profile_pic='/identicon?id='+profile['public_key'] %}
        {% endif %}
        <img src="{{profile_pic}}" width="120" id="ppic"  />
    </div>
    <div class="profile-details">
        <h1>{{profile['name']}}</h1>
        <p class="sm pk">@{{profile['public_key'] | truncate(21, False, '...')}}</p>
        <pre>{{profile['about']}}</pre>
    </div>
</div>
<div class="profile-tools">
    <a href="#">&#43; follow</a> <a href="#">&#9993; message</a>
</div>
{% endif %}
<h2 class="posts-title">Public posts</h2>
{% include 'feed_items.html' %}

{% endblock content %}