<div>
    <div id="note-poster" class="poster-form rnd pad-mid">
        <form method="post" action="/submit_note" id="new_post_form" enctype="multipart/form-data">
            {{'expand'| svg_icon('icon-sm maximise')|safe}}
            <textarea name="new_post" id="new_post" class="note-textarea" placeholder="Say something..."></textarea>
            <div class="toolbar">
                <input type="submit" name="new_post_submit" id="new_post_submit" class="right post-submit pad-sm" value="Share">
                <span>{{'emoji'| svg_icon('icon-lg emojis')|safe}}</span>
            </div>
            <div class="media_uploads"></div>
        </form>
    </div>
</div>
