<a href="{{ url_for('profile_page', pk=p['public_key']) }}">
{%- if p['pic'] is not none and p['pic']|length > 0 -%}
<img src="/static/user.svg"
	 referrerpolicy="no-referrer"
	 data-src="{{p['pic']}}"
	 data-srcset="{{p['pic']}}"
	 data-rel="{{p['public_key']}}"
	 data-dflt="/identicon?id={{p['public_key']}}"
	 class="lazy-load user-image"
	 onerror="defaultImage(this);"/>
{%- else -%}
<img src="/static/user.svg"
	 referrerpolicy="no-referrer"
	 data-src="/identicon?id={{p['public_key']}}"
	 data-srcset="/identicon?id={{p['public_key']}}"
	 data-rel="{{p['public_key']}}"
	 class="lazy-load user-image"/>
{%- endif -%}
</a>
