{%- if profile is not none -%}

{%- if profile['about'] is not none -%}
    {%- set about=profile['about'] -%}
{%- else -%}
    {%- set about='' -%}
{%- endif -%}
{%- if profile['updated_at'] is not none -%}
    {%- set updated_at=profile['updated_at'] -%}
{%- else -%}
    {%- set updated_at='0' -%}
{%- endif -%}
<div id="profile-header">
<div class="profile rnd" id="profile" data-updated_ts="{{updated_at}}" data-pk="{{profile['public_key']}}">
    <div class="profile-tools">
        {%- include 'profile/profile.tools.html' -%}
    </div>
    <div class="profile-image profile-item">
        {%- with p=profile -%}
        {%- include 'profile/profile.image.html' -%}
        {%- endwith -%}
    </div>
    <div class="profile-details profile-item">
        <h1 class="profile-name">{{profile['name'] | ident_string(profile['display_name'], profile['public_key']) | safe }}</h1>
        {%- if profile['nip05'] is not none -%}<span class="tag">{{profile['nip05'] | nip05_valid(profile['nip05_validated']) | safe }} {{profile['nip05']}}</span> &nbsp; {%- endif -%}{{ profile['public_key'] | relationship | safe }}
        <pre class="profile-about">{{about| linkify| safe}}</pre>
        {%- if website is not none -%}
        <div class="profile-meta">
            {{'web'| svg_icon('icon-sm')|safe}}<span class="sm pad-sm"><a href="{{ website }}">{{ website }}</a></span>
        </div>
        {%- endif -%}
    </div>
    {%- if is_me and page_id == 'profile-me' -%}

        {%- if profile['pic'] is not none -%}
            {%- set pic=profile['pic'] -%}
        {%- else -%}
            {%- set pic="/identicon?id="+profile['public_key'] -%}
        {%- endif -%}
    <form id="profile_updater" data-vis="0">
        <label for="pname" class="sm">Handle</label>
        <input type="text" id="pname" name="name" class="pname" value="{{profile['name'] or ''}}">

        <label for="display_name" class="sm">Display name</label>
        <input type="text" id="display_name" name="display_name" value="{{profile['display_name'] or ''}}">

        <label for="pmsg" class="sm">About</label>
        <textarea name="about" id="pmsg" rows="10" cols="30">{{about}}</textarea>


        <label for="pim" class="sm">Image URL</label>
        <div class="pim-up">
            <label class="note-image"><input type="file" class="profile-img-up" style="display: none;"><img src="{{ pic }}" class="user-image"></label>
            <input type="text" id="pim" name="picture" value="{{profile['pic'] or ''}}">
        </div>

        <label for="pnip5" class="sm">Nip05 identifier</label>
        <input type="text" id="pnip5" name="nip05" value="{{profile['nip05']}}">

        <label for="pwebsite" class="sm">Website</label>
        <input type="text" id="pwebsite" name="website" value="{{website}}">

        <label for="plud06" class="sm">LNURL</label>
        <input type="text" id="plud06" name="lud06" value="{{meta['lud06']}}">

        <label for="plud16" class="sm">Lightning address</label>
        <input type="text" id="plud16" name="lud16" value="{{meta['lud16']}}">

        <input type="submit" id="pupd" name="pupd" value="Update">
    </form>
    {%- endif -%}
</div>
<div class="profile-menu rnd">
    {%- if is_me -%}
        <a href="/profile" data-page="posts">posts</a>
        <a href="/profile?view=following" data-page="following">following <span class="tag">{{n_following}}</span></a>
        <a href="/profile?view=followers" data-page="followers">followers <span class="tag">{{n_followers}}</span></a>
    {%- else -%}
        <a href="/profile?pk={{profile['public_key']}}" data-page="posts">posts</a>
        <a href="/profile?pk={{profile['public_key']}}&view=following" data-page="following">following <span class="tag">{{n_following}}</span></a>
        <a href="/profile?pk={{profile['public_key']}}&view=followers" data-page="followers">followers <span class="tag">{{n_followers}}</span></a>
    {%- endif -%}
        {{'share'| svg_icon('icon-lg share-profile right')|safe}}
    {%- if has_ln -%}
        {{'lightning'| svg_icon('icon-lg lightning right')|safe}}
    {%- endif -%}
</div>
{%- endif -%}
</div>
