
<div class="profile-menu rnd">
    <a href="{{ url_for('profile_page', pk=profile['public_key']) }}" data-page="posts" class="link">posts</a>
    <a href="{{ url_for('profile_page', pk=profile['public_key'], view='following') }}" data-page="following" class="link">following <span class="tag">{{n_following}}</span></a>
    <a href="{{ url_for('profile_page', pk=profile['public_key'], view='followers') }}" data-page="followers" class="link">followers <span class="tag">{{n_followers}}</span></a>
    {%- if is_me -%}
    <a href="{{ url_for('profile_page', pk=profile['public_key'], view='muted') }}" data-page="blocked" class="link">muted</a>
    {%- endif -%}
</div>


